## FLIGHT PREDICTION DATA SET EDA AND FEATURE ENGINEERING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# HERE WE HAVE TESTING AND TRAINING DATA GIVEN TO US 
# SO IMPORTING THE  DATA SETS

In [3]:
train_data = pd.read_excel('Data_Train.xlsx')
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
test_data = pd.read_excel('Test_set.xlsx')
test_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

## CHECKING FOR NULL VALUES 
Here we have only one null vlaue in both route and total stops 
as the data set is having total of 10683 entries , 
we can drop one entry from the data set to eliminate the null values

In [7]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
train_data.shape

(10683, 11)

In [9]:
train_data[train_data['Route'].isnull() == True ]       # NULL Value present in the below given entry

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [10]:
train_data.dropna(axis=0, inplace=True)

In [11]:
train_data.shape

(10682, 11)

In [12]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

## COMBINING THE TRAINING AND TESTING DATA TO PERFORM EDA

In [13]:
data = train_data._append(test_data)

In [14]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [15]:
data.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

## EXPLORING DIFFERENT FEATURES OF THE DATA SET

In [16]:
data.Source.value_counts()

Source
Delhi       5681
Kolkata     3581
Banglore    2752
Mumbai       883
Chennai      456
Name: count, dtype: int64

In [17]:
data.Destination.value_counts()

Destination
Cochin       5681
Banglore     3581
Delhi        1582
New Delhi    1170
Hyderabad     883
Kolkata       456
Name: count, dtype: int64

In [18]:
data.Total_Stops.value_counts()

Total_Stops
1 stop      7056
non-stop    4340
2 stops     1899
3 stops       56
4 stops        2
Name: count, dtype: int64

In [19]:
data.Airline.value_counts()

Airline
Jet Airways                          4746
IndiGo                               2564
Air India                            2191
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: count, dtype: int64

In [20]:
data.Additional_Info.value_counts()

Additional_Info
No info                         10492
In-flight meal not included      2426
No check-in baggage included      396
1 Long layover                     20
Change airports                     8
Business class                      5
No Info                             3
1 Short layover                     1
Red-eye flight                      1
2 Long layover                      1
Name: count, dtype: int64

## SPLITTING DATE OF JOURNEY INTO DAY MONTH AND YEAR IN INTEGER FORMAT

In [21]:
day = []
month = []
year = []

for date in data['Date_of_Journey']:
    date = str(date).split('/')
    day.append(int(date[0]))
    month.append(int(date[1]))
    year.append(int(date[2]))

data.insert(loc=1, column='JR_Day', value=day)
data.insert(loc=2, column='JR_Month', value=month)
data.insert(loc=3, column='JR_Year', value=year)

In [22]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [23]:
data.drop(columns=['Date_of_Journey'], axis=1,inplace=True)

In [24]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

## SPLITTING THE ARRIVAL TIME AND REMOVING THE UNECESSARY DATE

In [25]:
at = []
for time in data['Arrival_Time']:
    time = str(time).split(' ')[0]
    at.append(time)

In [26]:
data.drop(columns=['Arrival_Time'],axis=1, inplace=True)

In [27]:
data.insert(loc=8,column='Arrival_Time', value=at)

In [28]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

## NOW SPLITTING ARRIVAL AND DEPARTURE TIME INTO HOURS AND MINUTES

In [29]:
arr_hrs = data['Arrival_Time'].str.split(':').str[0].astype(int)
arr_mins = data['Arrival_Time'].str.split(':').str[1].astype(int)
dep_hrs = data['Dep_Time'].str.split(':').str[0].astype(int)
dep_mins = data['Dep_Time'].str.split(':').str[1].astype(int)

In [30]:
data.drop(columns=['Arrival_Time','Dep_Time'], axis=1, inplace=True)

In [31]:
data.insert(loc=7,column='Dep_Hours', value=dep_hrs)
data.insert(loc=8,column='Dep_Mins', value=dep_mins)
data.insert(loc=9,column='Arrival_Hours', value=arr_hrs)
data.insert(loc=10,column='Arrival_Min', value=arr_mins)

In [32]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22,20,1,10,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,50,13,15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,9,25,4,25,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18,5,23,30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16,50,21,35,4h 45m,1 stop,No info,13302.0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13353 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   JR_Day           13353 non-null  int64
 2   JR_Month         13353 non-null  int64
 3   JR_Year          13353 non-null  int64
 4   Source           13353 non-null  object
 5   Destination      13353 non-null  object
 6   Route            13353 non-null  object
 7   Dep_Hours        13353 non-null  int64
 8   Dep_Mins         13353 non-null  int64
 9   Arrival_Hours    13353 non-null  int64
 10  Arrival_Min      13353 non-null  int64
 11  Duration         13353 non-null  object
 12  Total_Stops      13353 non-null  object
 13  Additional_Info  13353 non-null  object
 14  Price            10682 non-null  float64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

## CONVERTING THE DATA TYPE OF TOTAL STOPS FROM OBJECT TO INTEGER

In [34]:
data['Total_Stops'] = data['Total_Stops'].map(
    {
        '1 stop'  : 1,
        'non-stop'  : 0,
        '2 stops'  : 2,
        '3 stops'  : 3,
        '4 stops'  : 4
    }
)

In [35]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16,50,21,35,4h 45m,1,No info,13302.0

In [36]:
data.drop(columns=['Route'],axis=1,inplace=True)

In [37]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,1,No info,13302.0

In [38]:
data.shape

(13353, 14)

## CONVERTING THE DURATION INTO MINS

In [39]:
dur = data['Duration']
min_dur = []
for d in dur:
    d = str(d.replace('h','').replace('m', ''))
    d = d.split(' ')

    if len(d) == 1:
        d = int(d[0])
        if d < 60 :
            pass
        else:
            d = d*60
    else:
        d = int(d[0])*60 + int(d[1])
    min_dur.append(d)

In [40]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,1,No info,13302.0

In [41]:
data.insert(loc=11, column='Duration in Minutes', value=min_dur)

In [42]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Duration in Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,170,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,445,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,19,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,325,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,285,1,No info,13302.0

In [43]:
data.drop(columns=['Duration'],axis=1,inplace=True)

In [44]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,170,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,445,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,325,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,285,1,No info,13302.0

## LABEL ENCODING THE REMAINING CATEGORICAL DATESETS : SOURCE,DESTINATION , AIRLINES, ADDITIONAL INFO

In [45]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [46]:
data['Airline'] = le.fit_transform(data['Airline'])

In [47]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,Banglore,New Delhi,22,20,1,10,170,0,No info,3897.0
1,1,1,5,2019,Kolkata,Banglore,5,50,13,15,445,2,No info,7662.0
2,4,9,6,2019,Delhi,Cochin,9,25,4,25,19,2,No info,13882.0
3,3,12,5,2019,Kolkata,Banglore,18,5,23,30,325,1,No info,6218.0
4,3,1,3,2019,Banglore,New Delhi,16,50,21,35,285,1,No info,13302.0

In [48]:
data.Airline.unique()

array([ 3,  1,  4,  8,  6,  2, 10,  0, 11,  5,  7,  9])

In [49]:
data['Source'] = le.fit_transform(data['Source'])
data['Destination'] = le.fit_transform(data['Destination'])
data['Additional_Info'] = le.fit_transform(data['Additional_Info'])

In [50]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,0,5,22,20,1,10,170,0,8,3897.0
1,1,1,5,2019,3,0,5,50,13,15,445,2,8,7662.0
2,4,9,6,2019,2,1,9,25,4,25,19,2,8,13882.0
3,3,12,5,2019,3,0,18,5,23,30,325,1,8,6218.0
4,3,1,3,2019,0,5,16,50,21,35,285,1,8,13302.0

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13353 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13353 non-null  int64
 1   JR_Day               13353 non-null  int64
 2   JR_Month             13353 non-null  int64
 3   JR_Year              13353 non-null  int64
 4   Source               13353 non-null  int64
 5   Destination          13353 non-null  int64
 6   Dep_Hours            13353 non-null  int64
 7   Dep_Mins             13353 non-null  int64
 8   Arrival_Hours        13353 non-null  int64
 9   Arrival_Min          13353 non-null  int64
 10  Duration in Minutes  13353 non-null  int64
 11  Total_Stops          13353 non-null  int64
 12  Additional_Info      13353 non-null  int64
 13  Price                10682 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 1.5 MB

In [52]:
data.isnull().sum()

Airline                   0
JR_Day                    0
JR_Month                  0
JR_Year                   0
Source                    0
Destination               0
Dep_Hours                 0
Dep_Mins                  0
Arrival_Hours             0
Arrival_Min               0
Duration in Minutes       0
Total_Stops               0
Additional_Info           0
Price                  2671
dtype: int64

## SPLITTING DATA INTO TESTING SET AND TRAINING SET

In [53]:
test_data = data[data['Price'].isnull() == True]
train_data = data[data['Price'].isnull() == False]

In [54]:
test_data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,4,6,6,2019,2,1,17,30,4,25,655,1,8,NaN
1,3,12,5,2019,3,0,6,20,10,20,4,1,8,NaN
2,4,21,5,2019,2,1,19,15,19,0,1425,1,5,NaN
3,6,21,5,2019,2,1,8,0,21,0,13,1,8,NaN
4,0,24,6,2019,0,2,23,55,2,45,170,0,8,NaN

In [55]:
train_data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,0,5,22,20,1,10,170,0,8,3897.0
1,1,1,5,2019,3,0,5,50,13,15,445,2,8,7662.0
2,4,9,6,2019,2,1,9,25,4,25,19,2,8,13882.0
3,3,12,5,2019,3,0,18,5,23,30,325,1,8,6218.0
4,3,1,3,2019,0,5,16,50,21,35,285,1,8,13302.0

In [97]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

rfr = RandomForestRegressor()
X = train_data.iloc[:,:-1]
Y = train_data.iloc[:,-1]
X_train , X_test, y_train, y_test = train_test_split(X,Y,test_size=0.15, random_state=10)
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [98]:
print(X_train.shape,y_train.shape)

(9079, 13) (9079,)

In [99]:
y_pred = rfr.predict(X_test)
print("MSE:", round(mean_squared_error(y_pred,y_test),3))
print("R2:", round(r2_score(y_pred, y_test),2))
print("--------------")


for i in y_pred:
    print(i)

MSE: 2986410.58
R2: 0.84
--------------
7962.12
13989.59
10501.25
7009.36
11547.99
10477.81
12929.636166666667
3090.88
4713.06
3272.19
6893.61
5666.698333333334
13376.0
3871.96
5051.75
12317.44
13063.03
4407.67
10173.04
6378.47
5398.37
11289.28
14201.879095238093
8037.36
6893.7
2640.62
7593.74
13052.82
7472.13
8156.63
4829.82
10178.82
8522.6
4369.07
9552.7
7128.8825
9153.53
5475.21
12504.96
16931.6
8700.66
7520.36
10885.28
5775.9
13525.22
3588.43
9723.47
5643.74
10653.96
7147.83
6248.06
13841.95
12398.28
6172.03
5516.325
11356.5075
4003.08
10752.9
4946.25
3943.0
10262.0
8543.96
3840.74
8042.25
7627.15
5310.04
7229.0
10265.15
12721.79
14754.9
13005.97
14859.65
11130.185
10899.99
4177.19
14269.02
4377.74
3601.4
12031.44
13156.464761904763
15709.43
14099.61
6760.26
13947.31
13666.57
13139.503333333332
4307.58
6791.37
8766.47
12748.389333333336
10335.696499999998
2961.48
3306.16
3860.4
12037.155
5084.86
16320.5
2758.21
11090.16
2111.99
10551.96
3906.8
13914.87
11680.36
5561.88
3600.9
5892.02
3317.67
13718.4
15045.67
10687.53
11453.43
12309.14
6444.58
7273.21
8332.09
8016.0
13794.74
10657.5
10274.6
12280.73
10799.62
8418.38
23569.9
6775.93
3199.53
14754.9
12081.591
5407.46
12117.56
7236.87
15539.03
10265.15
10262.0
10852.13
11384.01
6226.1875
10590.8
27842.87
12364.8
4592.7
6488.17
13830.26
7885.62
10828.56
9394.06
11960.96
13640.93
7981.35776190476
14014.36
25830.8
13114.99
10297.7
2011.82
7054.01
9697.487166666666
4327.07
14145.925
12354.73
13678.01
28178.45
6964.91
8172.6
7620.23
15064.59
10264.42
4880.38
8525.28
9768.66
5257.44
4896.9
6834.198333333334
14705.94
7207.03
4182.39
16987.98
7097.0
4844.71
5700.17
9374.62
13770.67
10460.45
9352.23
10546.4
13538.81
7653.974499999999
2539.1
9921.09
9127.43
14684.97
4008.08
8709.77
12691.96
13383.76
9884.8075
9841.57
13874.52
6633.55
16186.6875
7293.44
4415.75
4877.94
13495.426666666668
6718.14
5523.19
5965.46
4808.99
3935.25
3271.77
9315.0
8556.82
8293.79
9891.386666666665
3875.55
6340.5975
5474.89
7823.86
13583.35
11957.399047619048
4177.46
7181.74
14318.4
8015.42
13478.176666666668
15345.18
12952.74
17001.625
7905.65
5610.9
4223.46
8662.2
4463.215
8786.25
4137.52
4437.78
4932.79
10902.82
8489.92
12182.759047619049
13376.0
6310.56
15857.63
4016.63
14113.77
4443.2
11639.29
7685.7
2690.5
9274.98
4387.24
2861.13
8124.315
14402.33
1966.04
12913.547333333334
2081.54
7173.88
6618.61
10482.72
2033.54
3893.75
15574.73
8561.44
7053.13
12375.818333333333
3944.56
6629.76
13573.86
4568.36
7351.937988095239
2687.85
7850.427000000001
4083.97
5043.72
6224.9
17334.65
10653.0
3322.1
12898.0
10302.94
15135.3
4243.03
3352.66
13835.17
6414.43
4855.45
11861.58
6543.6
15588.5
3619.58
6232.7
7229.0
9576.01
3992.72
6888.92
14024.85
19200.11
6186.38
3837.59
4446.35
10819.994749999998
10854.48
5773.13
10312.4
13385.01
6216.6
15802.12
12743.15
13880.31
4077.81
14488.67
5292.85
6840.47
8538.542619047617
13376.0
5545.22
8873.37
10541.484166666665
13678.03
15148.27
5148.82
7898.98
14843.66
5732.41
9677.82
4098.41
6511.64
13810.33
7470.8
4321.48
14722.4
10075.53
8389.91
9826.91
13210.9
7954.99
12429.37
9980.04
11595.820714285714
5710.63
5117.83
9298.14
13710.74
11273.8
22587.68
13930.36
9134.92
7706.58
13432.127333333334
13009.64
11754.055
7911.583333333334
3574.01
10093.37
4335.42
4035.5
5303.12
3650.5
17209.69
15221.46
7307.78
14786.27
8749.16
12876.265
4918.4
7071.87
6525.456833333334
5472.82
4199.15
6966.49
9657.36
4686.9
15130.12
4805.81
7739.13
14953.19
15435.716666666667
5140.39
3689.26
7605.34
13760.5
5898.01
13061.98
10153.666666666666
12345.27
8748.655
4865.08
7183.98
12389.65
4053.94
7171.98
14475.47
12834.01
7229.0
12898.0
14496.79
4813.97
12373.0
14414.74
12840.405
3884.88
7518.15
13406.53
7874.66
12182.759047619049
6519.47
9391.74
8543.64
6018.18
13255.32
5303.2
4291.93
10397.945
7532.86
8621.2
14135.72
6026.19
10262.0
4875.19
13978.29
6423.3
9023.53
4823.0
23996.72
3977.41
5104.55
7229.0
14041.2
3853.82
4258.14
10576.44
11412.41
19405.5
12895.545
10666.196000000002
10139.08
16489.92
14714.0
7064.0
13106.7
3964.58
9980.85
5939.73
13461.76
4880.38
12113.705833333333
6008.07
12555.55
6481.08
3065.04
4319.42
13299.83
4072.04
7956.95
12383.37
12373.0
4802.46
8451.39080952381
3881.75
15009.42
12917.76
11993.87
14470.78
6679.4
15171.0
3432.36
13253.826666666668
9747.73
3633.54
14676.95
12373.0
3614.87
8176.71
4237.6
8857.37
4808.96
2331.37
10836.73
9343.49
6978.43
4680.6
6557.02
4783.0
5227.62
6358.08
10951.75
12890.66
3344.15
5725.24
3835.96
13163.09
5724.92
13694.64
4750.44
14058.47
3663.91
7278.6106666666665
4804.0
3854.28
4564.161666666667
12544.94
4094.69
6118.12
2233.3
3068.01
10121.24
10262.0
1937.76
3935.46
6028.31
12715.475
14482.7575
13746.46
9135.655
14703.13
7223.18
4899.56
12012.99
7484.65
6137.81
13607.31
10844.0
13500.97
13024.54
12834.68
10330.29
5542.0
4966.0
15031.77
4188.68
2042.76
7398.19
8527.33
8780.73
9227.34
10844.0
5517.06
4738.82
5665.31
7226.06
3835.01
10631.9
2672.24
3770.38
8690.04
9773.15
10330.1
11446.15
4202.52
12918.6
4908.33
3597.92
12901.53
8607.5125
6801.69
3546.72
7850.23
4597.33
4980.54
7229.0
11982.0
10291.4
9360.69
14651.95
7279.725
4470.15
8595.78
8732.42
2416.11
4584.87
4766.2
12268.543642857143
17168.4275
16280.84
5568.78
6298.62
15525.3
2201.85
14822.16
10644.63
14686.88
13740.69
4853.23
10779.003333333334
8692.4
14621.51
10100.06
6214.12
14241.48
14261.48
5926.52
4119.419166666667
5011.0
6226.08
8939.39
5180.9
11087.0
6753.87
8860.0
13210.17
12948.61
9000.14
10445.15
11934.87
8555.77
15044.4
11653.2
5287.2
6826.23
6816.75
10262.0
11067.94
12390.169166666667
3972.08
10844.0
13843.27
4647.06
12373.0
13398.04
14448.78
4432.32
7656.96
13000.26
13576.46
15874.216666666665
9161.71
5311.31
4898.56
13130.92
8523.62
4743.84
12890.66
10102.0
12577.69
14346.48
14714.0
8166.5
12763.68
11070.63
7035.19
8529.71
7229.0
3315.13
10844.0
12985.28
18339.05
5160.38
8830.71
4433.06
2737.22
13231.558333333334
4829.68
7665.18
5100.7
11982.0
14754.51
10248.07
9720.204333333333
3853.64
8016.0
9385.34
6972.44
9351.81
6558.73
4310.44
18659.55
8714.68
6223.44
6055.96
7597.22
3596.46
4880.48
15765.97
3882.03
13386.12
6722.24
13961.48
10681.021666666666
2773.26
8387.05
9422.09
5349.39
7085.4
12298.535
5284.439333333332
4191.04
3473.76
3684.91
6201.94
15802.12
14566.48
13362.36
5298.72
4108.93
14576.96
13247.72
14578.56
5276.3075
4687.95
9667.78
12477.37
15054.13
8019.83
10262.0
13464.97
14380.68
12373.0
14400.84
12504.7
11099.53
3923.511380952381
4218.41
2069.7
8875.97
14327.57
12373.0
4338.21
5223.98
8856.969000000001
11846.71
12373.0
13709.337
4739.31
12605.02
21234.48
6802.82
3606.03
4911.65
15045.4
13842.45
12295.17
11398.68
4412.68
10957.66
13039.52
4326.37
6281.6
16071.6
3847.59
6944.2
2748.93
4704.75
10886.77
9740.501166666667
14186.56
5445.3
4670.1
10379.39
8785.33
7494.155833333332
13690.54
5064.21
7826.75
15238.53
3150.47
6326.49
3412.01
4401.65
9289.19
14578.99
5391.84
7140.0
7911.1
4847.0
12373.0
15650.51
3960.93
17077.49
1996.46
14504.34
12373.0
4133.51
12651.7
7064.0
8708.18
6400.53
7545.96
5984.62
11463.835
6158.23
4046.57
16469.34
3907.25
14806.04
14666.05
5324.78
13115.225095238096
6928.08
5182.24
12409.39
9111.11
7228.6
8522.63
5624.6016666666665
5716.77
4804.0
4823.0
13093.77
5962.66
12398.28
11348.95
10808.97
41071.06
10003.5
4389.77
15840.63
5943.46
9467.63
6873.84
14098.02
13172.38
24347.64
4879.78
8332.77
12635.495
11989.15
2574.84
9498.75
9299.44
7203.96
5592.46
10393.8
10589.76
6399.33
15255.55
9337.59
10752.9
4672.2
7071.98
10262.0
6420.51
12373.0
7497.21
9445.1
14140.65
15214.63
6833.79
8662.4
3870.52
10395.26
10368.0
9739.86823809524
3218.49
6238.985833333334
4116.07
4667.0
5198.28
13957.8
10460.304166666667
13219.29
10268.3
9674.2075
6993.63
5150.18
12647.67
26836.69
16236.5
15949.76
12898.0
12326.57
10483.09
4937.3
2837.67
7962.59
24655.89
7941.46
10574.39
12045.3
9323.81
4849.89
3559.74
14068.25
9981.5
4308.3
14729.49
4826.0
10262.0
10813.13
5305.31
14735.77
11767.64
15401.6
9678.49
9559.68
10069.12
8489.66
15919.595
6247.69
4540.06
10452.98
11705.98
14362.7
9851.5
6146.54
12275.719166666666
5185.85
7638.46
4400.11
6680.22
13325.93
15380.54
18342.970666666668
3940.09
4082.0
4986.49
8498.0
14443.45
7033.04
15075.413333333332
10751.11
13257.77
9481.27
6105.97
6584.67
6144.4
4091.95
4885.62
21143.9
6155.44
4134.75
11369.18
10370.32
11558.17
10299.8
6345.65
10258.033000000001
12898.0
10302.95
8942.13
3841.64
15342.83
6828.94
5667.25
10846.9
15871.458333333332
9577.93
11451.37
4185.57
14166.603333333333
4800.58
6630.8
9668.553333333333
15135.3
5882.44
7226.74
7519.3
10296.65
10919.845500000003
4797.7
8495.73
14101.46
13864.47
16085.63
3941.9
7954.39
4408.7
10262.0
8665.46
4828.88
4015.33
8677.05
7741.57
7814.53
14815.69
10896.05
10335.19
6919.37
7204.766666666667
10133.99
6262.01
10236.779142857144
6227.93
5388.05
12635.495
3581.31
1961.16
8167.95
13712.953333333333
14728.65
14201.76
12829.73
13817.0
10322.13
14088.83
5443.23
9018.771666666667
10948.86
3814.38
7229.0
7386.89
14714.0
11087.47
9101.8775
10698.93
14188.33
6861.54
9360.905
7327.6075
14379.6
4778.05
10697.997833333333
5584.98
3604.5
7174.980833333334
22515.73
11051.76
6277.22
10446.93
5821.74
16030.66
12379.923333333334
17051.55
4480.16
9722.68
8628.045
13286.47
9417.35
13267.506666666664
10665.455999999998
4216.245
4055.42
15134.25
11356.5075
8831.51
9853.12
4135.64
14763.3
4039.59
12918.53
8452.57
10355.85
9775.34
11649.923928571427
6437.45
12866.34
19479.41
6512.26
12234.65
16489.51
10287.2
6101.38861111111
5529.79
3941.1
10634.6
9313.83
16206.44
7709.36
11442.44
5618.25
9728.096666666668
5441.93
17166.83
3954.5
10785.43
18099.4425
16890.88
6879.86
12107.05
10669.97
6997.370333333333
3329.98
4735.98
4475.47
13969.93
5323.47
10211.57
17027.95333333333
7229.0
4790.33
13141.54
7613.508738095237
3817.58
5583.51
5015.92
7853.12
10798.84
14749.13
3889.43
5906.65
3462.7
11697.75
9514.23
2136.8
5565.36
14094.98
7591.982
13061.98
13151.36
6343.9745
6093.16
4478.18
13744.08
7427.655833333332
8732.79
4770.88
12316.14333333333
13826.98
6456.77
7512.35
2870.97
12117.883333333335
14057.76
5596.9
14054.99
5047.69
6970.74
12209.536499999998
12603.995
6030.08
10288.36
5325.07
3850.31
4144.71
9731.3
8922.159500000002
6502.88
15082.05
12493.46
16342.18
3956.64
5764.43
5574.26288095238
7892.99
3936.13
13899.75
8499.55
6936.07
13148.671142857142
2089.8
13699.1
12099.611499999999
2817.34
10360.56
12805.62
10364.9
10148.68
7202.15
7537.371166666668
3625.84
14478.6
7530.2018333333335
10860.22
15490.45
6531.13
8650.66
14718.15
13425.1
8667.5775
14252.12
2944.2
9724.578000000001
13653.19
14666.82
6447.31
10807.16
15126.89
9908.49
7229.0
17118.63
8934.1
14736.46
4063.98
14031.23
11232.87
11848.21
4178.58
6319.7
3848.46
13719.36
16148.49
4280.67
8583.716666666667
5093.28
6058.75
12373.0
14013.21
9134.0
13427.53
7176.98
2227.0
10332.8
9135.24
8503.476666666666
8116.250499999999
11970.785
3538.0
17485.256666666668
12054.5
5973.79
5248.92
11391.43
8809.28
9160.88
4494.35
5277.0
9692.79
8105.183809523809
4162.43
12404.71
10289.3
10262.0
12373.0
13855.81
10119.84
12851.56
4176.62
4849.51
9067.31
7641.22
3624.97
6198.59
9360.565
5553.08
9598.31
10322.99
15145.13
6222.6
6459.04
7606.5
6016.57
14579.71
5279.97
16694.890000000003
4455.38
14493.58
4059.21
14729.61
17120.28
13006.68
10273.055
4226.67
16009.51
12814.65
13342.203333333335
9077.08
4880.8
6820.846666666667
9106.2075
5187.58
11924.76
10337.6
14053.23
26090.37
4984.0
5267.27
3555.5
4399.65
4552.59
32329.92
4580.61
6092.51
24853.52
7798.270833333334
6104.61
4771.880833333334
4818.36
7962.59
4052.53
6543.21
6421.03
3841.7
4836.36
2742.46
12214.53
3662.89
8016.0
10328.15
5292.02
8368.47
10397.76
3509.37
7229.0
6626.87
14426.11
11710.18
13817.58
12126.058166666666
19504.96
11114.89
11379.626666666665
3597.82
19250.74
3151.34
10329.3
12376.32
8112.85
4240.73
9041.771999999999
2012.7
7920.9
8673.87
10521.17
5253.99
16102.27
9478.656666666666
13339.51
9384.53
10262.0
5678.0
9153.53
14754.9
7017.73
4730.48
7528.2
7349.9
7229.0
9620.51
15370.42
6220.39
7828.06
13708.77
13185.94
7983.25
4149.39
5008.23
6533.65
12995.67
6856.26
7252.26
11912.323333333336
10262.0
12256.917380952378
14915.75
4059.26
8577.3
13062.63
6220.43
7300.12
6015.79
12234.72
6979.34
7362.26
10326.190833333332
15295.1
9504.0
10117.44
6149.54
10930.76
13981.5
8801.175
3989.89
13870.27
3865.6
9611.42
15193.12
3487.98
6718.47
9442.615
3717.65
3903.56
3878.13
11046.04
4770.23
23366.03
3864.94
4278.13
6977.12
13157.6
8815.69
6445.91
4813.56
17581.51
6109.18
9003.09
4437.3
5188.41
10309.25
4827.35
10859.268333333335
8113.92
15962.408522727274
9504.2
2041.74
12695.083333333332
4804.0
6801.95
8861.0
8041.321999999999
10925.643
4864.9
2034.16
3841.0
13297.0
3487.92
13095.81
3606.42
12065.100666666667
13948.34
8302.31
15376.32
17157.38
10262.0
10262.0
8928.61
8407.63
17219.0
5203.39
7162.72
3793.94
9686.62
13145.619761904765
8061.01
4797.95
14662.642
6575.74
7368.665
6437.11
14054.64
4818.7
10501.08
8196.66
8383.02
10325.0
6609.75
10515.79
6219.72
9148.13
13798.97
4977.3
14018.61
15539.375
3379.78
10354.755
16198.93
14678.66
8451.39080952381
3771.76
10511.93
5925.23
2302.23
10912.5
4774.09
13354.455
8513.52
13188.095293650797
10279.88
8485.97
4528.33
12514.06
11296.2
5375.8
8969.94
7779.38
16091.5
11194.458
8774.7
6069.71
11055.1
10631.99
3058.87
14714.0
6829.33
7359.04
10262.0
5521.29
4007.8
5790.64
3749.19
5678.0
4794.27
13991.12
3570.73
6083.05
14504.05
6704.43
12706.49
4904.75
6473.97
4804.0
2016.52
7828.06
14301.18
4503.77
17056.85
4347.76
8640.8
14421.21
7064.0
7467.85
8016.0
9236.3
5928.62
5694.17
12297.21
9285.3
2227.0
4872.81
4703.4
17881.05
10384.85
2503.05
10832.45
10862.7
12932.95
4768.42
18627.29
4859.769833333334
4224.68
10370.988
6150.77
15554.85
12209.536499999998
5994.84
13412.7
10867.01
5132.86
6151.78
13715.18
8016.0
12801.21
10950.01
9017.46
4013.88
2817.6
7481.82
12373.0
3555.58
9662.93
11048.49
10262.0
14403.24
2754.0
7676.81
12277.34
8981.64
10726.04
3818.53
9378.39
15129.0
8891.41
5575.27
5538.067000000001
15135.3
10434.063333333332
14764.2
9308.73
9461.585
6450.4
7597.7
10822.43
14997.8
12581.4
8045.62
10543.013333333332
10969.51
16291.09
7709.29
14689.88
7129.18
10250.89
14538.88
9372.936666666668
12609.3
5665.31
10374.08
5145.85
6001.22
10927.99
9334.85
2319.71
9481.27
10029.19
21832.67
12222.77
13890.34
6543.85
6009.39
7229.0
11490.65
14768.67
5980.666666666668
13726.440833333332
7677.6
12610.85
10402.17
5311.26
3377.28
3603.62
9138.2
6650.36
11087.0
12261.81
10836.19
7255.07
13384.8
16313.18
12898.0
8156.88
15202.77
5357.1662380952375
8630.51
11836.14
13874.48
9184.07
1966.56
10570.83
20487.14
8838.546
4237.6
7445.6
4606.67
15429.8025
5622.38

In [100]:
for i in y_test.values:
    print(i)

6224.0
14151.0
10539.0
7934.0
16754.0
11447.0
11522.0
3100.0
4030.0
3100.0
9125.0
7608.0
13376.0
3873.0
5823.0
12681.0
14151.0
7417.0
9899.0
6327.0
6069.0
12534.0
13014.0
7832.0
6961.0
2647.0
7952.0
16932.0
9165.0
7888.0
4823.0
9899.0
7927.0
4284.0
9314.0
6138.0
9134.0
5281.0
11038.0
17024.0
9187.0
5678.0
11087.0
5228.0
14151.0
3540.0
9663.0
5678.0
7664.0
8075.0
6478.0
13626.0
11642.0
6117.0
6205.0
11150.0
3943.0
10703.0
4804.0
3943.0
10262.0
8452.0
3841.0
8016.0
7670.0
4823.0
7229.0
10262.0
18228.0
16079.0
13067.0
16372.0
11507.0
10919.0
4174.0
13017.0
3359.0
3597.0
10703.0
13014.0
15147.0
13941.0
7452.0
11600.0
13591.0
13014.0
4488.0
6478.0
9526.0
12760.0
9718.0
2754.0
3175.0
3807.0
9920.0
4990.0
17024.0
2754.0
11087.0
2175.0
10262.0
3419.0
14571.0
9586.0
3948.0
3597.0
5298.0
3100.0
13626.0
14714.0
10844.0
9585.0
11752.0
6300.0
7308.0
9748.0
8016.0
12692.0
10678.0
10262.0
6112.0
10844.0
8366.0
22270.0
6253.0
3175.0
14714.0
7198.0
5192.0
12723.0
7229.0
15419.0
10262.0
10262.0
10844.0
12384.0
5406.0
10844.0
26890.0
11467.0
4544.0
6478.0
13882.0
7618.0
10231.0
9103.0
12192.0
14151.0
9424.0
14871.0
29528.0
13014.0
10262.0
2017.0
7740.0
10529.0
4148.0
15292.0
12373.0
14594.0
26890.0
7657.0
8372.0
7353.0
14871.0
10539.0
4823.0
8479.0
9663.0
5228.0
4878.0
6860.0
14781.0
7878.0
4174.0
17024.0
6752.0
4990.0
5601.0
9526.0
13626.0
10577.0
10844.0
8991.0
13381.0
8456.0
2017.0
12415.0
7845.0
13817.0
3943.0
8372.0
12723.0
14151.0
9646.0
8603.0
13626.0
6955.0
15129.0
7005.0
4591.0
4030.0
13377.0
5073.0
5510.0
6016.0
4804.0
4174.0
3100.0
9345.0
8582.0
8844.0
12327.0
4107.0
5963.0
5201.0
7832.0
13727.0
11269.0
5645.0
7731.0
14388.0
6653.0
13377.0
13135.0
13381.0
17024.0
7485.0
5613.0
3943.0
8586.0
4326.0
9345.0
3419.0
4591.0
4804.0
11087.0
8452.0
14486.0
13376.0
6205.0
15147.0
3971.0
14237.0
4174.0
10262.0
8040.0
2228.0
9564.0
4991.0
3210.0
7591.0
13899.0
1965.0
8073.0
2175.0
7308.0
6482.0
10844.0
2017.0
3873.0
14714.0
8925.0
7064.0
13587.0
4423.0
6451.0
13377.0
4990.0
4563.0
2754.0
6643.0
4077.0
4030.0
6327.0
14815.0
10236.0
2759.0
12898.0
9258.0
15129.0
4465.0
3175.0
13817.0
6911.0
4823.0
12121.0
6573.0
15554.0
3597.0
6218.0
7229.0
6535.0
3919.0
6152.0
13941.0
19225.0
6093.0
3841.0
4148.0
10368.0
10262.0
5117.0
10262.0
12692.0
5963.0
15812.0
13401.0
13941.0
4107.0
14781.0
5176.0
6482.0
8098.0
13376.0
5176.0
9502.0
11142.0
11467.0
15353.0
6460.0
8040.0
15136.0
6121.0
9870.0
4049.0
6104.0
13817.0
6101.0
4332.0
14714.0
9416.0
7154.0
10844.0
12471.0
11707.0
12284.0
7695.0
9042.0
5192.0
5644.0
8610.0
14151.0
10808.0
23170.0
13941.0
8603.0
4563.0
13292.0
14388.0
13069.0
7485.0
3898.0
9899.0
4174.0
4174.0
5073.0
3332.0
15603.0
15809.0
8040.0
14714.0
10654.0
12819.0
4878.0
7064.0
7648.0
5403.0
4409.0
7229.0
9128.0
4668.0
15058.0
5224.0
7740.0
14714.0
11972.0
5000.0
3971.0
7690.0
13727.0
7165.0
13029.0
10197.0
12093.0
8834.0
4804.0
6094.0
11552.0
4174.0
7191.0
14571.0
12284.0
7229.0
12898.0
14571.0
4823.0
12373.0
10067.0
13377.0
3873.0
7480.0
13377.0
8040.0
8307.0
6442.0
8907.0
7832.0
4441.0
14151.0
4864.0
4332.0
11185.0
6795.0
7646.0
14231.0
5406.0
10262.0
5515.0
14676.0
6442.0
9314.0
4823.0
22270.0
3873.0
5224.0
7229.0
13067.0
3841.0
4049.0
9736.0
12192.0
31783.0
7933.0
10598.0
17501.0
15676.0
14714.0
7064.0
13502.0
3419.0
13994.0
5636.0
8578.0
4823.0
12347.0
5583.0
12778.0
5769.0
3100.0
3419.0
13377.0
4077.0
8147.0
12488.0
12373.0
4804.0
8728.0
3383.0
14848.0
13587.0
11467.0
14571.0
7189.0
15129.0
2754.0
13292.0
9663.0
3597.0
13912.0
12373.0
3540.0
10141.0
4226.0
8586.0
4823.0
2227.0
10975.0
9564.0
6961.0
4668.0
6442.0
4804.0
4775.0
5883.0
11806.0
13029.0
3100.0
5678.0
3850.0
13817.0
5636.0
13374.0
4804.0
15136.0
3858.0
8055.0
4804.0
3841.0
7276.0
12192.0
4423.0
5192.0
2227.0
3210.0
9646.0
10262.0
2227.0
3514.0
5769.0
12723.0
15107.0
14388.0
6800.0
13817.0
7229.0
4823.0
16172.0
6037.0
6297.0
13727.0
10844.0
13587.0
12592.0
12898.0
8588.0
5678.0
4812.0
15147.0
4030.0
2017.0
6982.0
8372.0
8907.0
8586.0
10844.0
5054.0
5201.0
5678.0
6795.0
3841.0
10844.0
2071.0
3573.0
13587.0
10844.0
10262.0
11201.0
3815.0
13029.0
4823.0
3543.0
13486.0
7354.0
6987.0
4319.0
9413.0
4282.0
5747.0
7229.0
11982.0
10577.0
9345.0
11934.0
6795.0
4409.0
8610.0
9922.0
2227.0
4622.0
4804.0
12182.0
10783.0
13748.0
5678.0
5796.0
15554.0
2017.0
14960.0
10844.0
14848.0
13817.0
4823.0
10493.0
8781.0
14871.0
11410.0
6327.0
13941.0
14300.0
5232.0
4482.0
4804.0
5797.0
7757.0
4775.0
11087.0
5769.0
8372.0
13044.0
13029.0
8085.0
10678.0
12284.0
8147.0
15129.0
12383.0
5277.0
6794.0
6674.0
10262.0
11087.0
12409.0
4423.0
10844.0
14151.0
4667.0
12373.0
13591.0
14781.0
4409.0
8040.0
13029.0
12242.0
16863.0
6136.0
4487.0
4804.0
12692.0
8586.0
4082.0
13029.0
8888.0
13067.0
14871.0
14714.0
7005.0
12692.0
11087.0
7189.0
8476.0
7229.0
2754.0
10844.0
7888.0
18275.0
5073.0
8452.0
3971.0
2753.0
13014.0
4823.0
7452.0
4030.0
11982.0
14781.0
10529.0
7408.0
3841.0
8016.0
9748.0
7934.0
6916.0
6482.0
4077.0
27430.0
8452.0
6206.0
5797.0
7485.0
3597.0
4384.0
16108.0
3873.0
13376.0
6842.0
13941.0
10703.0
2437.0
7980.0
5554.0
5403.0
7074.0
11728.0
7110.0
4174.0
3100.0
2050.0
6093.0
15812.0
15058.0
13790.0
5201.0
5755.0
14015.0
13029.0
14571.0
6144.0
4668.0
10703.0
13067.0
14848.0
8227.0
10262.0
13044.0
14815.0
12373.0
12677.0
12312.0
11087.0
4377.0
4423.0
2017.0
9345.0
14388.0
12373.0
4174.0
5224.0
8601.0
9483.0
12373.0
13014.0
4649.0
12961.0
54826.0
8216.0
3597.0
4823.0
14323.0
14178.0
12395.0
12192.0
4544.0
11134.0
12681.0
3898.0
6093.0
16079.0
3419.0
6270.0
2754.0
4668.0
10919.0
10529.0
14237.0
5162.0
4668.0
10368.0
8586.0
7198.0
13044.0
4957.0
7832.0
15284.0
3100.0
6162.0
4784.0
4483.0
7725.0
14571.0
4096.0
5678.0
7480.0
4804.0
12373.0
15029.0
3943.0
17261.0
1965.0
14388.0
12373.0
3943.0
12692.0
7064.0
8366.0
6297.0
7952.0
6300.0
10877.0
6493.0
4049.0
15029.0
3873.0
14714.0
14781.0
5515.0
13014.0
7171.0
6251.0
6781.0
9314.0
6810.0
8085.0
4878.0
5636.0
4804.0
4823.0
12308.0
5228.0
11642.0
12384.0
10844.0
46490.0
10696.0
3943.0
16263.0
5769.0
8425.0
7006.0
13941.0
13044.0
34503.0
4823.0
8085.0
12646.0
12192.0
2575.0
7280.0
8529.0
6612.0
5201.0
10262.0
10441.0
6412.0
15544.0
9555.0
10703.0
4668.0
7064.0
10262.0
6741.0
12373.0
7480.0
9314.0
13591.0
15318.0
5586.0
8040.0
3873.0
12351.0
10368.0
9646.0
3838.0
5694.0
4239.0
4667.0
4804.0
14151.0
11161.0
12692.0
10262.0
8114.0
5607.0
5069.0
12898.0
26890.0
16289.0
16289.0
12898.0
11228.0
10844.0
4860.0
3175.0
10278.0
23533.0
6959.0
11148.0
11105.0
8529.0
4823.0
3543.0
13882.0
10676.0
4332.0
14714.0
4995.0
10262.0
10844.0
3858.0
14781.0
6442.0
14960.0
8603.0
6755.0
11841.0
7927.0
21571.0
6741.0
5198.0
6673.0
13067.0
14388.0
8837.0
5775.0
13082.0
5170.0
5678.0
4148.0
6171.0
13801.0
15812.0
18804.0
3943.0
4990.0
5755.0
8372.0
14571.0
7335.0
15129.0
8627.0
15237.0
9564.0
6069.0
6587.0
5277.0
4807.0
4268.0
14306.0
6216.0
3514.0
12324.0
10676.0
12524.0
10262.0
6216.0
10231.0
12898.0
10262.0
9555.0
3841.0
14687.0
6961.0
6121.0
10844.0
15129.0
9845.0
11421.0
4284.0
14143.0
4804.0
7754.0
11307.0
15129.0
5769.0
7229.0
8580.0
10577.0
10368.0
4804.0
6805.0
17049.0
13817.0
14714.0
3943.0
8991.0
4544.0
10262.0
9001.0
4804.0
4049.0
8085.0
10056.0
7832.0
17271.0
11185.0
10231.0
6494.0
7303.0
10844.0
6093.0
10976.0
6094.0
5613.0
12646.0
3419.0
2017.0
7575.0
14960.0
14924.0
14388.0
12725.0
13817.0
10972.0
14388.0
8246.0
18308.0
10413.0
3597.0
7229.0
6992.0
14714.0
11087.0
7354.0
11134.0
14086.0
6117.0
10529.0
11598.0
13941.0
4823.0
10741.0
5678.0
3597.0
6860.0
26743.0
11087.0
6152.0
9535.0
6582.0
9678.0
13310.0
17261.0
4544.0
9653.0
6128.0
13377.0
6171.0
13014.0
9315.0
4326.0
3873.0
15129.0
11150.0
8855.0
10676.0
4049.0
14714.0
3873.0
12692.0
8855.0
10562.0
8586.0
11432.0
6442.0
12898.0
22270.0
7001.0
12192.0
15147.0
10262.0
7303.0
5406.0
3841.0
10413.0
9548.0
16914.0
12475.0
11098.0
6565.0
9627.0
4823.0
17057.0
3850.0
10877.0
20904.0
14815.0
6113.0
11682.0
10844.0
7229.0
3100.0
4667.0
4409.0
14151.0
5406.0
10203.0
17024.0
7229.0
4823.0
10566.0
7229.0
3850.0
5162.0
5830.0
7485.0
10844.0
15107.0
3873.0
5769.0
3383.0
12488.0
10844.0
2227.0
5073.0
14151.0
7648.0
13029.0
13044.0
8033.0
5963.0
4319.0
13759.0
7198.0
9663.0
4823.0
11664.0
13817.0
6117.0
7005.0
3210.0
12192.0
14151.0
6121.0
13067.0
5198.0
7503.0
8073.0
12723.0
5998.0
10262.0
5403.0
3841.0
3943.0
10929.0
8367.0
6628.0
15135.0
12646.0
10873.0
3873.0
5510.0
5403.0
8475.0
3850.0
14053.0
7741.0
7050.0
13014.0
1965.0
14053.0
7723.0
2754.0
10262.0
13486.0
10262.0
10151.0
7229.0
4777.0
3543.0
14781.0
7398.0
10031.0
15554.0
7451.0
8266.0
14714.0
13591.0
8728.0
12819.0
2050.0
10696.0
11297.0
14781.0
6934.0
10844.0
15544.0
9663.0
7229.0
17261.0
6674.0
15318.0
5755.0
13584.0
8844.0
11543.0
3419.0
6218.0
3850.0
14053.0
16079.0
4174.0
7591.0
4804.0
6582.0
12373.0
14330.0
5853.0
10539.0
8635.0
2227.0
6901.0
6017.0
7801.0
9595.0
11702.0
4307.0
17019.0
10624.0
5298.0
4804.0
15704.0
9663.0
7215.0
4544.0
5277.0
9663.0
8367.0
3419.0
12373.0
10262.0
10262.0
12373.0
13843.0
5647.0
14594.0
3419.0
4823.0
8529.0
7295.0
3597.0
6961.0
9001.0
6961.0
9663.0
10844.0
14848.0
6386.0
6151.0
7464.0
5228.0
14571.0
3876.0
15078.0
4885.0
14571.0
3815.0
14781.0
15147.0
10759.0
9417.0
4622.0
16289.0
12898.0
13376.0
7090.0
4823.0
6860.0
9328.0
4282.0
14588.0
10262.0
15149.0
22270.0
4729.0
5320.0
3543.0
4995.0
4435.0
27992.0
4544.0
6093.0
25735.0
7198.0
6216.0
4777.0
4804.0
8899.0
4049.0
6442.0
6151.0
3841.0
4823.0
2753.0
12032.0
3597.0
8016.0
10262.0
5755.0
8366.0
10368.0
2754.0
7229.0
7171.0
16263.0
13067.0
13941.0
11543.0
54826.0
15190.0
10975.0
3597.0
19225.0
3100.0
7060.0
12395.0
8361.0
4226.0
9296.0
1965.0
8067.0
8085.0
9194.0
5228.0
16079.0
9627.0
13576.0
7615.0
10262.0
5678.0
9134.0
14714.0
6985.0
4148.0
7480.0
6810.0
7229.0
9314.0
14714.0
5883.0
7832.0
13727.0
11542.0
10351.0
4174.0
5170.0
6565.0
12009.0
6381.0
6197.0
10909.0
10262.0
11269.0
14714.0
3419.0
7094.0
11848.0
6092.0
6128.0
6297.0
12497.0
6494.0
7832.0
7888.0
15411.0
10348.0
11410.0
6017.0
11087.0
14571.0
7677.0
3943.0
12739.0
3603.0
9663.0
19332.0
3898.0
6496.0
6565.0
3480.0
3873.0
3398.0
11087.0
4050.0
20845.0
3573.0
4409.0
6565.0
13033.0
8586.0
6628.0
4823.0
13292.0
4862.0
6838.0
4491.0
6985.0
10262.0
4804.0
10919.0
8040.0
15129.0
6937.0
2227.0
12347.0
4804.0
5930.0
8586.0
9412.0
8839.0
5224.0
2227.0
3841.0
13292.0
4483.0
13538.0
3597.0
12074.0
14676.0
6575.0
15284.0
18371.0
10262.0
10262.0
9476.0
8891.0
17261.0
4775.0
7318.0
4326.0
9548.0
13014.0
8016.0
4804.0
14533.0
6628.0
7005.0
6093.0
15339.0
5224.0
10151.0
8372.0
7927.0
10262.0
7438.0
10844.0
6741.0
10979.0
16697.0
4990.0
14151.0
15554.0
3100.0
6427.0
16775.0
14781.0
8728.0
3574.0
10037.0
6121.0
1965.0
11516.0
4804.0
13376.0
8366.0
13014.0
10844.0
10509.0
4462.0
11732.0
10394.0
4409.0
8610.0
4259.0
16079.0
11281.0
9397.0
5228.0
11134.0
10844.0
3100.0
14714.0
6838.0
7005.0
10262.0
4692.0
3943.0
6121.0
2050.0
5678.0
4804.0
14151.0
3332.0
6093.0
14431.0
7754.0
12681.0
4878.0
7120.0
4804.0
2017.0
7832.0
14178.0
4384.0
17471.0
4423.0
8586.0
14388.0
7064.0
7480.0
8016.0
8273.0
6146.0
5678.0
13727.0
10112.0
2437.0
5734.0
4649.0
17493.0
11627.0
2575.0
10844.0
9646.0
12996.0
4823.0
20064.0
6558.0
4174.0
15078.0
6093.0
15554.0
13727.0
6482.0
13067.0
11087.0
5054.0
5583.0
14067.0
8016.0
12121.0
10844.0
9345.0
3943.0
2437.0
7690.0
12373.0
3898.0
10966.0
10697.0
10262.0
14571.0
4049.0
8405.0
14667.0
9555.0
11841.0
3807.0
9345.0
15129.0
8372.0
7255.0
4545.0
15129.0
11507.0
14781.0
8586.0
7531.0
6540.0
7608.0
7378.0
15129.0
12898.0
8784.0
6717.0
11087.0
12940.0
7038.0
12599.0
6349.0
8005.0
14781.0
8018.0
14817.0
5678.0
11507.0
5117.0
6094.0
11134.0
9646.0
2227.0
9564.0
9663.0
25735.0
11753.0
14871.0
6104.0
5510.0
7229.0
11789.0
14781.0
5694.0
13014.0
7670.0
12681.0
10368.0
5198.0
3311.0
3540.0
8586.0
7048.0
11087.0
12121.0
11134.0
7740.0
14483.0
16289.0
12898.0
7740.0
14848.0
6144.0
7354.0
12898.0
13611.0
9526.0
1965.0
10844.0
21934.0
13797.0
4226.0
7740.0
4437.0
14641.0
5678.0

In [105]:
X

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info
0,3,24,3,2019,0,5,22,20,1,10,170,0,8
1,1,1,5,2019,3,0,5,50,13,15,445,2,8
2,4,9,6,2019,2,1,9,25,4,25,19,2,8
3,3,12,5,2019,3,0,18,5,23,30,325,1,8
4,3,1,3,2019,0,5,16,50,21,35,285,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,9,4,2019,3,0,19,55,22,25,150,0,8
10679,1,27,4,2019,3,0,20,45,23,20,155,0,8
10680,4,27,4,2019,0,2,8,20,11,20,3,0,8
10681,10,1,3,2019,0,5,11,30,14,10,160,0,8
10682,1,9,5,2019,2,1,10,55,19,15,500,2,8

In [115]:
x1 = X.iloc[:531,:]
x2 = X.iloc[531:,:]

In [116]:
y1 = Y.iloc[:531]
y2 = Y.iloc[531:]

#### Training Part 1

In [135]:
rr = RandomForestRegressor()
xtr,xt,ytr,yt = train_test_split(x1,y1,test_size=0.3,random_state=10)

In [136]:
rr.fit(xtr,ytr)

RandomForestRegressor()

In [137]:
ypr1 = rr.predict(xt)

In [138]:
for i in ypr1:
    print(i)

11065.48
13256.71
13903.74
10105.15
10563.02
4964.47
10482.97
4935.59
8971.99
4877.2
11707.34
9546.04
3962.39
4928.85
11186.85
15155.0
10741.16
6246.87
14563.75
9878.54
5392.71
6206.93
5565.3
5312.2
15013.72
7039.14
11905.71
4449.45
6696.41
10625.9
8136.1
11057.81
4605.32
11151.94
22976.39
6448.58
6486.09
16599.08
7718.99
4834.05
4277.93
11043.97
3617.77
11177.2
16401.29
3822.27
5608.31
12117.49
10802.87
14818.51
6763.17
11468.15
14676.43
6623.31
10586.61
11186.89
12762.74
14026.71
6705.41
14773.66
13125.43
15794.5
5013.38
7469.88
9082.45
5684.05
10456.3
13211.65
5476.72
4983.57
3117.6
13251.0
6046.8
12842.25
7835.32
4464.26
7416.26
3604.69
14058.39
6897.13
10830.86
4606.99
14347.19
4711.58
11196.26
7779.89
14476.56
5368.64
17087.37
11903.24
3600.46
14149.13
6529.4
9661.4
15879.69
4749.97
6497.33
5207.81
9510.8
11588.07
5538.43
6282.77
8396.58
13422.03
10669.51
4391.53
8500.72
9928.34
11465.32
7925.21
4604.01
13411.93
13906.08
10167.55
11262.49
11728.66
11850.17
3731.13
11271.66
4597.89
13134.08
10423.91
8037.66
10492.99
11472.65
6355.94
5702.58
10879.43
12854.8
5758.72
6823.11
10830.07
10796.68
4409.13
6292.67
8507.72
11824.8
10826.52
5629.66
6267.88
9565.23
11839.95
11379.67
6733.6
8083.59
7891.03
12198.0
9149.51
14033.64
5221.77
7816.2
4234.27
14290.46
13913.44
3685.4
11465.73
5155.26
11493.86
11077.77
10331.61

In [134]:
for i in yt.values:
    print(i)

15318.0
9483.0
14388.0
7757.0
8586.0
4239.0
10262.0
4667.0
7064.0
3898.0
12898.0
4487.0
3311.0
4174.0
7574.0
8738.0
6795.0
5894.0
8899.0
9899.0
3971.0
4148.0
5264.0
7229.0
18799.0
5162.0
10861.0
3383.0
6442.0
6601.0
3543.0
11087.0
5216.0
10262.0
22270.0
4804.0
7754.0
17024.0
7295.0
5769.0
4077.0
10262.0
2754.0
13381.0
22096.0
3100.0
3597.0
10197.0
10844.0
16079.0
5583.0
11507.0
14641.0
6528.0
9663.0
12639.0
8452.0
13555.0
5618.0
16079.0
13044.0
17024.0
3943.0
8855.0
8991.0
5201.0
12524.0
11507.0
8224.0
3859.0
8040.0
13044.0
7229.0
12242.0
5177.0
3943.0
6197.0
4995.0
15554.0
7229.0
10791.0
3398.0
14714.0
4462.0
9270.0
5281.0
17057.0
4878.0
7378.0
12303.0
1965.0
14781.0
5636.0
6842.0
17024.0
5678.0
6412.0
4823.0
9345.0
13465.0
5830.0
4823.0
8016.0
13731.0
6795.0
3858.0
8366.0
9663.0
11087.0
5013.0
4777.0
15129.0
12677.0
10262.0
12898.0
11087.0
12373.0
5678.0
13591.0
4804.0
7662.0
10844.0
5117.0
8907.0
10262.0
7229.0
3858.0
10262.0
11432.0
5228.0
7202.0
12373.0
11596.0