## FLIGHT PREDICTION DATA SET EDA AND FEATURE ENGINEERING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# HERE WE HAVE TESTING AND TRAINING DATA GIVEN TO US 
# SO IMPORTING THE  DATA SETS

In [3]:
train_data = pd.read_excel('Data_Train.xlsx')
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
test_data = pd.read_excel('Test_set.xlsx')
test_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

## CHECKING FOR NULL VALUES 
Here we have only one null vlaue in both route and total stops 
as the data set is having total of 10683 entries , 
we can drop one entry from the data set to eliminate the null values

In [7]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
train_data.shape

(10683, 11)

In [9]:
train_data[train_data['Route'].isnull() == True ]       # NULL Value present in the below given entry

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [10]:
train_data.dropna(axis=0, inplace=True)

In [11]:
train_data.shape

(10682, 11)

In [12]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

## COMBINING THE TRAINING AND TESTING DATA TO PERFORM EDA

In [13]:
data = train_data._append(test_data)

In [14]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [15]:
data.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

## EXPLORING DIFFERENT FEATURES OF THE DATA SET

In [16]:
data.Source.value_counts()

Source
Delhi       5681
Kolkata     3581
Banglore    2752
Mumbai       883
Chennai      456
Name: count, dtype: int64

In [17]:
data.Destination.value_counts()

Destination
Cochin       5681
Banglore     3581
Delhi        1582
New Delhi    1170
Hyderabad     883
Kolkata       456
Name: count, dtype: int64

In [18]:
data.Total_Stops.value_counts()

Total_Stops
1 stop      7056
non-stop    4340
2 stops     1899
3 stops       56
4 stops        2
Name: count, dtype: int64

In [19]:
data.Airline.value_counts()

Airline
Jet Airways                          4746
IndiGo                               2564
Air India                            2191
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: count, dtype: int64

In [20]:
data.Additional_Info.value_counts()

Additional_Info
No info                         10492
In-flight meal not included      2426
No check-in baggage included      396
1 Long layover                     20
Change airports                     8
Business class                      5
No Info                             3
1 Short layover                     1
Red-eye flight                      1
2 Long layover                      1
Name: count, dtype: int64

## SPLITTING DATE OF JOURNEY INTO DAY MONTH AND YEAR IN INTEGER FORMAT

In [21]:
day = []
month = []
year = []

for date in data['Date_of_Journey']:
    date = str(date).split('/')
    day.append(int(date[0]))
    month.append(int(date[1]))
    year.append(int(date[2]))

data.insert(loc=1, column='JR_Day', value=day)
data.insert(loc=2, column='JR_Month', value=month)
data.insert(loc=3, column='JR_Year', value=year)

In [22]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [23]:
data.drop(columns=['Date_of_Journey'], axis=1,inplace=True)

In [24]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

## SPLITTING THE ARRIVAL TIME AND REMOVING THE UNECESSARY DATE

In [25]:
at = []
for time in data['Arrival_Time']:
    time = str(time).split(' ')[0]
    at.append(time)

In [26]:
data.drop(columns=['Arrival_Time'],axis=1, inplace=True)

In [27]:
data.insert(loc=8,column='Arrival_Time', value=at)

In [28]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

## NOW SPLITTING ARRIVAL AND DEPARTURE TIME INTO HOURS AND MINUTES

In [29]:
arr_hrs = data['Arrival_Time'].str.split(':').str[0].astype(int)
arr_mins = data['Arrival_Time'].str.split(':').str[1].astype(int)
dep_hrs = data['Dep_Time'].str.split(':').str[0].astype(int)
dep_mins = data['Dep_Time'].str.split(':').str[1].astype(int)

In [30]:
data.drop(columns=['Arrival_Time','Dep_Time'], axis=1, inplace=True)

In [31]:
data.insert(loc=7,column='Dep_Hours', value=dep_hrs)
data.insert(loc=8,column='Dep_Mins', value=dep_mins)
data.insert(loc=9,column='Arrival_Hours', value=arr_hrs)
data.insert(loc=10,column='Arrival_Min', value=arr_mins)

In [32]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22,20,1,10,2h 50m,non-stop,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,50,13,15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,9,25,4,25,19h,2 stops,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18,5,23,30,5h 25m,1 stop,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16,50,21,35,4h 45m,1 stop,No info,13302.0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13353 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   JR_Day           13353 non-null  int64
 2   JR_Month         13353 non-null  int64
 3   JR_Year          13353 non-null  int64
 4   Source           13353 non-null  object
 5   Destination      13353 non-null  object
 6   Route            13353 non-null  object
 7   Dep_Hours        13353 non-null  int64
 8   Dep_Mins         13353 non-null  int64
 9   Arrival_Hours    13353 non-null  int64
 10  Arrival_Min      13353 non-null  int64
 11  Duration         13353 non-null  object
 12  Total_Stops      13353 non-null  object
 13  Additional_Info  13353 non-null  object
 14  Price            10682 non-null  float64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

## CONVERTING THE DATA TYPE OF TOTAL STOPS FROM OBJECT TO INTEGER

In [34]:
data['Total_Stops'] = data['Total_Stops'].map(
    {
        '1 stop'  : 1,
        'non-stop'  : 0,
        '2 stops'  : 2,
        '3 stops'  : 3,
        '4 stops'  : 4
    }
)

In [35]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Route,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16,50,21,35,4h 45m,1,No info,13302.0

In [36]:
data.drop(columns=['Route'],axis=1,inplace=True)

In [37]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,1,No info,13302.0

In [38]:
data.shape

(13353, 14)

## CONVERTING THE DURATION INTO MINS

In [39]:
dur = data['Duration']
min_dur = []
for d in dur:
    d = str(d.replace('h','').replace('m', ''))
    d = d.split(' ')

    if len(d) == 1:
        d = int(d[0])
        if d < 60 :
            pass
        else:
            d = d*60
    else:
        d = int(d[0])*60 + int(d[1])
    min_dur.append(d)

In [40]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,1,No info,13302.0

In [41]:
data.insert(loc=11, column='Duration in Minutes', value=min_dur)

In [42]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration,Duration in Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,2h 50m,170,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,7h 25m,445,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19h,19,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,5h 25m,325,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,4h 45m,285,1,No info,13302.0

In [43]:
data.drop(columns=['Duration'],axis=1,inplace=True)

In [44]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,22,20,1,10,170,0,No info,3897.0
1,Air India,1,5,2019,Kolkata,Banglore,5,50,13,15,445,2,No info,7662.0
2,Jet Airways,9,6,2019,Delhi,Cochin,9,25,4,25,19,2,No info,13882.0
3,IndiGo,12,5,2019,Kolkata,Banglore,18,5,23,30,325,1,No info,6218.0
4,IndiGo,1,3,2019,Banglore,New Delhi,16,50,21,35,285,1,No info,13302.0

## LABEL ENCODING THE REMAINING CATEGORICAL DATESETS : SOURCE,DESTINATION , AIRLINES, ADDITIONAL INFO

In [45]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [46]:
data['Airline'] = le.fit_transform(data['Airline'])

In [47]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,Banglore,New Delhi,22,20,1,10,170,0,No info,3897.0
1,1,1,5,2019,Kolkata,Banglore,5,50,13,15,445,2,No info,7662.0
2,4,9,6,2019,Delhi,Cochin,9,25,4,25,19,2,No info,13882.0
3,3,12,5,2019,Kolkata,Banglore,18,5,23,30,325,1,No info,6218.0
4,3,1,3,2019,Banglore,New Delhi,16,50,21,35,285,1,No info,13302.0

In [48]:
data.Airline.unique()

array([ 3,  1,  4,  8,  6,  2, 10,  0, 11,  5,  7,  9])

In [49]:
data['Source'] = le.fit_transform(data['Source'])
data['Destination'] = le.fit_transform(data['Destination'])
data['Additional_Info'] = le.fit_transform(data['Additional_Info'])

In [50]:
data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,0,5,22,20,1,10,170,0,8,3897.0
1,1,1,5,2019,3,0,5,50,13,15,445,2,8,7662.0
2,4,9,6,2019,2,1,9,25,4,25,19,2,8,13882.0
3,3,12,5,2019,3,0,18,5,23,30,325,1,8,6218.0
4,3,1,3,2019,0,5,16,50,21,35,285,1,8,13302.0

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13353 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13353 non-null  int64
 1   JR_Day               13353 non-null  int64
 2   JR_Month             13353 non-null  int64
 3   JR_Year              13353 non-null  int64
 4   Source               13353 non-null  int64
 5   Destination          13353 non-null  int64
 6   Dep_Hours            13353 non-null  int64
 7   Dep_Mins             13353 non-null  int64
 8   Arrival_Hours        13353 non-null  int64
 9   Arrival_Min          13353 non-null  int64
 10  Duration in Minutes  13353 non-null  int64
 11  Total_Stops          13353 non-null  int64
 12  Additional_Info      13353 non-null  int64
 13  Price                10682 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 1.5 MB

In [52]:
data.isnull().sum()

Airline                   0
JR_Day                    0
JR_Month                  0
JR_Year                   0
Source                    0
Destination               0
Dep_Hours                 0
Dep_Mins                  0
Arrival_Hours             0
Arrival_Min               0
Duration in Minutes       0
Total_Stops               0
Additional_Info           0
Price                  2671
dtype: int64

## SPLITTING DATA INTO TESTING SET AND TRAINING SET

In [53]:
test_data = data[data['Price'].isnull() == True]
train_data = data[data['Price'].isnull() == False]

In [54]:
test_data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,4,6,6,2019,2,1,17,30,4,25,655,1,8,NaN
1,3,12,5,2019,3,0,6,20,10,20,4,1,8,NaN
2,4,21,5,2019,2,1,19,15,19,0,1425,1,5,NaN
3,6,21,5,2019,2,1,8,0,21,0,13,1,8,NaN
4,0,24,6,2019,0,2,23,55,2,45,170,0,8,NaN

In [55]:
train_data.head()

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info,Price
0,3,24,3,2019,0,5,22,20,1,10,170,0,8,3897.0
1,1,1,5,2019,3,0,5,50,13,15,445,2,8,7662.0
2,4,9,6,2019,2,1,9,25,4,25,19,2,8,13882.0
3,3,12,5,2019,3,0,18,5,23,30,325,1,8,6218.0
4,3,1,3,2019,0,5,16,50,21,35,285,1,8,13302.0

In [56]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

rfr = RandomForestRegressor()
X = train_data.iloc[:,:-1]
Y = train_data.iloc[:,-1]
X_train , X_test, y_train, y_test = train_test_split(X,Y,test_size=0.15, random_state=10)
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [57]:
print(X_train.shape,y_train.shape)

(9079, 13) (9079,)

In [58]:
y_pred = rfr.predict(X_test)
print("MSE:", round(mean_squared_error(y_pred,y_test),3))
print("R2:", round(r2_score(y_pred, y_test),2))
print("--------------")


for i in y_pred:
    print(i)

MSE: 3048320.098
R2: 0.84
--------------
8236.36
13899.85
10612.58
7016.03
11432.51
10464.36
12121.085
3049.27
4790.37
3075.89
6928.27
5739.362333333334
13369.686666666665
3873.0
5034.95
12416.45
13240.3
4577.77
10073.63
6525.27
5134.86
11461.06
13949.027333333337
8155.78
6910.6
2631.84
7527.94
13267.96
7430.52
8116.65
4832.57
9994.3
8505.29
4269.55
9542.99
7037.96
9134.0
5406.34
12672.68
16839.2
8768.19
7662.08
10893.04
5868.85
13526.47
3586.77
9488.22
5665.84
10628.8575
7034.23
6218.76
13884.88
12390.665
6176.24
5678.02
11250.384833333332
4023.88
10727.0
4983.13
3943.0
10268.3
8609.63
3841.32
8031.75
7670.94
5232.29
7229.23
10271.45
13134.83
14714.0
12972.33
14555.47
11142.64
10963.04
4192.62
14677.64
4610.57
3616.71
12139.56
13156.379595238093
15564.21
14139.01
6698.45
13463.09
13753.09
13128.546666666665
4274.38
6783.86
8590.7
12729.779095238098
10491.523666666668
2899.86
3367.32
3885.11
11376.34
5000.28
16423.4
2754.0
11051.24
2119.73
10420.16
3881.65
13933.9
11333.75
5533.1
3602.45
5873.96
3278.62
13687.95
15213.68
10793.07
11295.99
12483.635
6388.21
7232.09
8536.78
8016.0
13707.24
10676.18
10268.3
12765.18
10798.09
8392.41
23597.2
6692.09
3288.34
14716.1
12613.471000000001
5570.61
12174.56
7215.66
15546.31
10262.0
10297.81
10805.08
11379.78
6245.105
10494.07
29582.2
12272.13
4645.02
6527.14
13810.51
8097.465
10754.79
9420.16
11848.13
13718.0
8057.679833333334
13561.8
26065.99
13042.08
10312.4
2011.3
6945.26
9659.699833333334
4325.29
14719.035
12361.92
13955.43
29014.27
6740.14
8216.75
7601.32
14880.28
10258.4
4856.1
8498.4
9668.1
5240.01
4911.6
6943.956666666666
14684.67
7253.04
4176.4
17103.64
6889.15
4844.71
5613.11
9076.79
13831.84
10469.9
9546.75
10202.87
13621.625
7482.356166666666
2404.37
9876.5
8722.75
14550.85
4013.38
8753.33
12475.84
13442.66
10418.546666666667
9804.14
13860.83
6728.89
16113.8125
7197.75
4277.37
4651.24
13591.046666666667
6555.04
5492.13
6028.68
4806.1
4030.96
3271.03
9331.82
8675.23
8209.36
9851.011666666665
3865.75
6259.0
5438.57
7897.36
13573.92
11832.54
4240.0
7016.33
14296.78
8050.42
13635.76
15453.77
13242.08
17045.85
7976.47
5623.14
4198.78
8725.96
4495.23
8751.84
4234.09
4429.01
4913.7
10828.79
8435.32
12227.806666666667
13376.0
6334.34
16271.53
4041.18
14119.26
4392.2
11566.09
7733.71
2670.12
9257.07
4399.35
2858.17
8148.166666666668
14389.155
1987.58
13242.61
2111.46
7022.5
6801.5
10708.52
2044.98
3884.46
15292.52
9324.23
7032.82
12292.49633333333
3939.61
6654.01
13640.22
4626.27
7069.864583333334
2658.86
7738.227833333333
4022.41
5032.16
6182.98
16665.35
10365.94
3280.77
12898.0
10729.36
15158.7375
4251.06
3137.5
13832.98
6466.32
4846.38
11915.57
6432.67
15607.4
3593.42
6236.67
7229.0
10956.99
4011.26
7207.35
13861.13
19113.79
6186.64
3849.61
4472.34
10768.508916666666
10730.72
5734.41
10284.05
13568.13
6263.87
15696.28
12619.84
13964.3
4147.43
14428.18
4939.63
6904.34
8417.255999999998
13378.631428571427
5530.08
9037.5
10640.149166666664
13670.57
15159.55
5221.7
8112.87
14759.59
5614.91
9650.47
4068.47
6567.4
13716.78
7407.77
4360.66
14714.0
10180.94
8142.42
10052.38
13178.07
6982.78
12318.48
10319.79
11357.418666666666
6018.03
5111.36
9251.46
13658.49
10333.55
22254.442000000003
13944.66
9086.82
7464.03
13294.52
13055.3
11816.71
7903.344833333333
3592.16
9876.54
4375.58
4051.93
5234.59
3580.92
17298.88
15001.03
7189.68
14745.5
7710.44
13013.52
4924.2
7087.61
6602.540388888889
5464.49
4345.13
7131.81
9621.70625
4684.1
15074.19
4804.0
7967.503333333334
15185.39
15635.245
5147.86
3701.38
7630.78
13913.11
6115.26
13037.19
10233.953333333333
12175.59
8602.747
4797.46
7121.83
12464.26
4017.68
7124.92
14445.61
12694.91
7229.0
12898.0
14476.4
4829.68
12373.0
15094.56
12871.0
3901.55
7459.42
13516.835
7913.79
12227.806666666667
6545.64
9345.39
8471.71
6187.77
13126.95
5217.96
4271.62
10201.07
7447.965
8803.92
14005.83
6091.64
10262.0
4919.54
14027.73
6419.96
9103.37
4823.0
24021.4
3998.2
5129.25
7229.0
14032.28
3907.73
4115.85
10374.33
11109.52
19202.55
12921.703333333335
10694.243999999999
9348.26
17402.67
14716.1
7089.76
13265.21
3926.73
10466.82
5976.25
13660.46
4829.97
12167.92
5996.06
12647.42
6505.19
3036.71
4258.75
13220.1775
4079.71
7925.15
12548.74
12373.0
4861.53
8558.225214285714
3994.89
14820.15
12839.52
12184.05
14403.29
6555.94
15132.9375
3319.88
13262.658333333333
9679.42
3638.3
13930.11
12370.32
3582.03
8140.81
4226.0
8891.9
4780.88
2333.81
11022.47
9402.29
6925.8
4678.5
6569.26
4787.2
5350.15
6393.2
10913.43
12971.95
3183.98
5819.72
3829.64
13240.99
5734.81
13680.6
4699.3
13729.18
3652.64
7483.11
4804.0
3848.26
4677.641666666666
12677.61
4074.1
6058.7
2235.4
3033.24
10002.13
10262.0
1893.42
4094.9
6000.7
12630.37
14843.101666666666
13705.07
9125.48
14801.08
7243.37
4866.29
12604.156666666666
7358.14
6249.93
13893.09
10844.0
12944.3
13036.685
12807.22
10675.351666666666
5625.47
4965.36
15250.14
4273.66
2043.8
7338.07
8615.32
8683.06
9447.83
10844.0
5445.24
5003.65
5678.0
7174.75
3834.69
10669.07
2564.66
3826.54
8845.972833333333
9654.82
10277.75
11508.65
4149.83
12834.63
4874.19
3600.48
12946.95
8623.587071428572
6482.5
3537.14
8017.32
4374.83
5009.93
7229.0
11982.0
10310.3
9342.8
15083.51
7234.4125
4328.7
8604.7
8762.38
2315.24
4545.81
4772.5
12133.67
15703.77
16000.79
5513.39
6239.01
15578.5
2290.96
14696.82
10672.56
14620.91
13771.12
4822.62
10658.346666666665
8564.3
14761.65
10434.75
6201.88
14187.53
14226.85
5915.39
3998.358833333334
5089.6
6538.82
8843.4
5148.24
11087.0
6807.53
8853.13
13272.9
12915.67
9095.36
10352.67
11845.09
8250.5
15107.85
11622.496666666668
5297.4
6754.33
6775.82
10262.0
11067.94
12385.989
3980.52
10844.0
13722.22
4657.03
12373.0
13489.29
14375.61
4595.02
7593.51
13103.82
13487.99
15767.401166666667
9059.84
5280.37
4935.96
12806.14
8854.75
4763.33
12971.95
10524.19
12478.08
13899.43
14714.0
8011.72
12680.51
11025.82
7096.08
8464.33
7229.0
3263.91
10844.0
12842.317
18186.78
5167.24
8772.93
4413.83
2737.22
13270.502000000002
4826.34
7763.95
5179.88
11815.2
14753.63
10116.24
9081.808166666666
3857.61
8016.0
9542.33
6890.13
8996.67
6668.59
4319.34
17255.25
8634.8
6212.36
6005.3
7604.63
3596.83
4953.07
15629.02
3878.7
13372.38
6724.26
13878.65
10734.42
2806.93
8363.46
9836.07
5384.76
7210.58
12049.22
5378.806666666667
4213.65
3379.11
3758.16
6193.13
15696.28
14352.96
13027.82
5324.1
4178.12
14620.18
13131.08
14585.63
5454.604166666668
4722.99
9845.33
12607.12
15004.46
8007.16
10262.0
13455.24
14106.44
12373.0
14701.84
12817.01
10951.4
3900.2585
4098.69
2037.06
8848.7
14279.53
12373.0
4297.32
5275.64
8603.3375
11843.5
12373.0
13688.690952380952
4751.12
12740.06
21517.15
6719.44
3600.01
4937.2
14938.63
13822.97
12110.51
11022.14
4461.37
11052.06
12908.17
4274.46
6316.9
16072.47
3912.39
7011.16
2692.76
4711.98
10943.25
9858.797666666665
14207.46
5378.59
4701.48
10390.78
8836.94
7551.656666666668
13641.79
5091.97
7832.0
14692.2
3082.87
6233.19
3565.11
4563.53
9529.25
14596.52
5240.53
7044.74
7827.69
4864.82
12373.0
15613.13
3988.82
17163.78
1984.38
14557.68
12373.0
4134.48
12757.91
7089.76
8702.0
6350.52
7526.42
5927.09
11399.856666666665
6146.72
4029.4
16533.76
3873.79
14791.34
14618.92
5444.49
13160.118666666667
6838.34
5049.98
12034.16
8876.41
7207.0
8561.7
5514.595333333334
5848.86
4812.4
4844.88
13175.94
6010.54
12390.665
11222.22
10816.22
37869.625
10407.839
4320.78
15831.9925
5932.49
9597.19
6885.06
14057.75
13212.31
24424.72
4889.8
8347.47
12797.715
11958.55
2641.65
9016.14
8975.74
7246.6
5534.39
10262.0
10545.205
6405.31
15511.71
9350.19
10727.0
4660.86
7071.98
10262.0
6377.74
12373.0
7482.1
9386.84
14239.98
15343.52
6903.82
9117.99
3873.25
10418.08
10368.0
10024.301166666666
3246.36
6087.502333333334
4083.04
4665.16
5194.83
13888.77
10746.5225
13212.33
10274.6
9567.54
7075.92
5202.42
12621.71
25275.16
16235.27
16040.15
12898.0
13181.97
10372.84
4963.93
2833.05
8335.8
24627.46
7993.41
10605.21
11856.77
9124.78
4838.48
3541.52
13912.823333333336
10096.1
4231.58
14714.0
4815.45
10288.36
10844.0
5425.22
14760.27
11802.23
15222.55
9771.08
10181.07
10279.71
8483.36
16426.01
6253.87
4662.0
10635.053333333335
11684.69
14298.43
9944.52
6154.0
12272.230714285715
5170.3
7573.9
4537.2
6726.41
13163.76
15469.88
17894.176666666666
3943.0
4054.85
5270.52
8578.99
14431.62
7021.31
15143.45
10911.64
13274.8
9564.0
6074.59
6685.02
6104.67
4119.11
4852.47
21902.06
6145.99
4284.22
11570.535
10548.44
11504.66
10293.5
6333.82
10269.181833333334
12886.16
10367.98
8946.63
3841.0
15250.83
6822.04
5667.51
10820.38
15746.19
9364.76
11389.295
4172.02
14657.41
4797.7
6692.88
9686.686666666666
15148.6875
5862.01
7190.97
7773.63
10328.15
10951.680416666668
4812.59
8789.44
14157.155
13877.17
15970.94
3957.4
7782.03
4462.24
10262.0
8673.42
4842.82
4032.73
8702.78
7761.15
7739.45
14746.27
10699.06
10328.98
7184.72
7234.395
10344.57
6276.43
10111.361571428572
6203.98
5409.02
12797.715
3620.58
1990.38
8156.64
13720.03
14724.3
14187.78
12328.66
13817.0
10986.31
14168.86
5463.03
9278.695000000002
10911.55
3782.6
7229.0
7322.93
14714.0
11087.0
9317.0875
10678.87
14213.85
6642.09
9420.195
7295.038666666667
14292.42
4845.41
9989.365333333331
5550.48
3601.68
7210.885
21148.97
11087.0
6382.19
10697.71
5865.43
16335.515
12212.473333333335
17153.59
4496.1
9674.11
8939.63
13337.67
9871.92
13281.921
10791.391333333333
4219.19
4071.6
15129.0
11250.384833333332
8618.9
9841.81
4278.43
14750.49
4049.21
12894.59
8484.4
10110.63
9732.93
11668.956166666667
6440.66
12892.75
19634.29
6450.29
12138.02
17058.74
10296.65
6034.964166666668
5512.45
3932.74
10545.49
9322.76
16528.64
8117.69
11272.86
5527.23
9743.371666666668
5424.0
17483.16
3897.92
10921.9
17841.8475
16198.76
7006.76
11549.4
10622.83
7060.279333333332
3436.75
4688.04
4399.36
13928.51
5325.85
10236.26
17000.8
7229.0
4782.82
13485.19
7586.313428571428
3842.49
5251.76
5050.6
8136.82
10763.81
14903.28
3876.01
5884.12
3437.91
11940.96
9559.86
2156.76
5552.22
14002.83
7516.236666666667
13037.19
13152.01
6316.119000000001
5896.86
4503.43
13798.68
7630.353333333333
8646.06
4795.56
12289.482880952382
13817.0
6561.5
7094.73
2788.86
11938.493333333332
13909.37
5538.86
14043.59
5041.8
6937.14
11819.174976190476
12538.64
6247.67
10262.0
5389.39
3841.0
4202.72
9678.63
9397.13292857143
6506.21
15157.53
12456.93
16985.47
3963.46
5833.69
5502.673666666667
7814.92
3945.84
13961.32
8542.47
6982.57
13145.391404761902
2097.7
13603.11
12051.681999999999
2781.1
10462.27
12899.9
10337.6
10023.94
7229.0
7906.415833333335
3591.64
14432.4
7696.853333333333
10886.87
15473.25
6401.61
8634.46
14714.0
13406.2
8739.36
14119.8
2818.3
9812.756666666666
13837.54
14649.24
6478.34
10782.06
15431.97
9800.15
7229.0
17189.81
8915.71
14649.11
4066.38
14048.93
10964.49
11853.3
4010.13
6375.47
3876.51
13603.32
16164.1
4310.74
9054.78
5123.99
6064.19
12373.0
14089.21
9134.0
13184.69
7485.28
2232.27
10092.3
9482.22
8139.71
8071.080833333333
11925.8425
3370.66
17302.62
12047.09
6033.41
5208.97
11288.53
8721.37
9678.216666666667
4467.99
5277.0
9628.91
8171.1975
4117.98
12373.0
10306.1
10262.0
12373.0
13853.05
10114.85
11995.46
4131.53
4854.41
9063.94
7541.7
3611.35
6296.21
9332.47
5628.95
9578.31
10490.21
14971.83
6259.89
6324.77
7565.81
5956.28
14599.9
5320.61
16841.444166666664
4488.02
14441.54
4130.2
14755.04
17081.27
13821.87
9917.836333333333
4475.33
16010.34
12879.57
13367.49
9009.713833333333
4926.21
6881.689666666667
9135.625
4988.09
12000.71
10337.6
14075.66
25688.8
5236.01
5269.99
3541.52
4399.65
4986.09
33028.72
4524.4
6100.96
25059.85
7778.418666666666
6162.57
4784.4484999999995
4825.0
8237.26
4047.29
6536.34
6591.37
3841.12
4836.36
2741.4
12153.8
3637.05
8016.0
10335.5
5650.5
8376.5
10366.31
3568.79
7229.0
6477.59
14357.7
11651.84
13839.77
12200.949499999999
20113.67
10834.57
11455.316666666666
3596.91
19335.34
3155.33
10665.24
12416.44
8007.27
4226.0
9072.74
1973.4
7848.87
8708.07
10270.54
5228.0
16103.8
9543.515
13532.455
9188.81
10262.0
5678.0
9134.0
14768.55
6932.52
4651.93
7538.18
7415.23
7229.0
9758.73
15479.45
6241.41
7837.69
13913.31
13146.485
7890.45
4129.48
4948.18
6680.85
12997.67
6733.51
7367.025
11845.46
10262.0
12141.659166666665
15157.04
4083.91
9066.76
12926.39
6760.35
7345.235
6118.33
12480.5075
6906.02
7315.1
10506.1175
15398.15
9427.22
10335.44
6061.15
10989.35
13946.35
8781.09
3993.73
13844.34
3946.2
9410.9
14772.68
3558.88
6774.32
9156.51
3706.19
3899.41
3840.77
11213.26
4768.2
23269.76
3835.41
4289.92
7174.9
13088.38
8872.45
6559.49
4823.0
16478.58
6277.15
8956.85
4439.38
5196.29
10293.5
4840.23
10953.953333333333
8544.27
15907.175
10316.26
2032.28
12789.33
4804.0
6982.67
8894.49
8057.813666666666
10811.91
4867.0
2032.04
3835.16
13385.55
3472.07
13165.469666666668
3612.18
12170.07
14064.1
8479.15
14759.22
17148.11
10262.0
10262.0
9030.68
8406.06
17219.0
5218.57
7272.85
3907.846666666667
9700.05
13152.675666666664
8042.28
4800.22
14937.51
6549.5
7394.17
6657.51
13857.24
4839.7
10760.58
8325.06
8389.32
10333.97
6586.9
10593.35
6223.91
9271.13
14339.07
4975.23
13849.8
15494.5
3287.04
10428.61
16788.39
14706.82
8558.225214285714
3778.3
10684.42
5801.71
2301.21
10636.02
4801.41
13339.82
8493.77
13194.311682539685
10340.87
8410.61
4511.55
12380.455
10943.77
4925.33
9123.35
7671.25
16079.0
11202.742619047616
8749.7
5983.06
11096.18
10688.39
3065.77
14714.0
6848.7
7288.72
10262.0
5530.39
4003.64
5742.59
3734.71
5678.0
4825.86
13916.62
3538.48
6089.54
14720.61
6736.32
12461.75
4921.05
6317.62
4800.05
2033.28
7837.69
14252.98
4532.65
17176.74
4380.1
8656.53
14341.32
7084.04
7468.44
8016.0
9315.81
6034.75
5643.49
12299.4
9432.11
2227.0
4856.0825
4699.23
18099.84
10412.15
2489.48
10644.75
10993.983333333335
12847.38
4754.24
18665.69
4681.446333333333
4238.9
10159.296
6141.94
15549.5
11819.174976190476
5937.67
13403.03
10740.03
5105.32
6083.76
13961.9
8016.0
12473.74
10842.08
9119.76
4003.55
2792.86
7480.0
12373.0
3587.83
9431.47
11412.435
10262.0
14460.71
2783.33
7658.79
12372.7
9006.88
10774.17
3833.17
9434.56
15139.5
8969.04
5331.76
5721.679
15158.7375
10452.024166666668
14690.19
9245.07
8926.86
6475.09
7657.82
11522.03
15068.025
12648.92
7960.39
10193.933333333334
10864.73
15826.3
7534.53
13187.45
7235.99
9730.05
14629.29
9156.873333333333
12812.74
5678.0
10297.23
5293.95
6029.54
10974.27
9270.67
2283.78
9564.0
9941.54
21769.15
12127.14
13960.99
6583.73
5871.35
7229.0
11341.09
14770.77
6098.854
13687.660952380951
7556.62
12640.51
10407.68
5268.98
3395.92
3598.66
9028.42
6700.43
11087.0
12168.26
10811.23
7281.3
13162.91
16278.08
12898.0
8024.79
15190.74
5168.215166666668
8594.76
11695.77
14376.4
9303.32
1965.0
10740.56
19262.81
8818.883833333333
4220.91
7497.71
4530.95
15253.0375
5691.49

In [59]:
for i in y_test.values:
    print(i)

6224.0
14151.0
10539.0
7934.0
16754.0
11447.0
11522.0
3100.0
4030.0
3100.0
9125.0
7608.0
13376.0
3873.0
5823.0
12681.0
14151.0
7417.0
9899.0
6327.0
6069.0
12534.0
13014.0
7832.0
6961.0
2647.0
7952.0
16932.0
9165.0
7888.0
4823.0
9899.0
7927.0
4284.0
9314.0
6138.0
9134.0
5281.0
11038.0
17024.0
9187.0
5678.0
11087.0
5228.0
14151.0
3540.0
9663.0
5678.0
7664.0
8075.0
6478.0
13626.0
11642.0
6117.0
6205.0
11150.0
3943.0
10703.0
4804.0
3943.0
10262.0
8452.0
3841.0
8016.0
7670.0
4823.0
7229.0
10262.0
18228.0
16079.0
13067.0
16372.0
11507.0
10919.0
4174.0
13017.0
3359.0
3597.0
10703.0
13014.0
15147.0
13941.0
7452.0
11600.0
13591.0
13014.0
4488.0
6478.0
9526.0
12760.0
9718.0
2754.0
3175.0
3807.0
9920.0
4990.0
17024.0
2754.0
11087.0
2175.0
10262.0
3419.0
14571.0
9586.0
3948.0
3597.0
5298.0
3100.0
13626.0
14714.0
10844.0
9585.0
11752.0
6300.0
7308.0
9748.0
8016.0
12692.0
10678.0
10262.0
6112.0
10844.0
8366.0
22270.0
6253.0
3175.0
14714.0
7198.0
5192.0
12723.0
7229.0
15419.0
10262.0
10262.0
10844.0
12384.0
5406.0
10844.0
26890.0
11467.0
4544.0
6478.0
13882.0
7618.0
10231.0
9103.0
12192.0
14151.0
9424.0
14871.0
29528.0
13014.0
10262.0
2017.0
7740.0
10529.0
4148.0
15292.0
12373.0
14594.0
26890.0
7657.0
8372.0
7353.0
14871.0
10539.0
4823.0
8479.0
9663.0
5228.0
4878.0
6860.0
14781.0
7878.0
4174.0
17024.0
6752.0
4990.0
5601.0
9526.0
13626.0
10577.0
10844.0
8991.0
13381.0
8456.0
2017.0
12415.0
7845.0
13817.0
3943.0
8372.0
12723.0
14151.0
9646.0
8603.0
13626.0
6955.0
15129.0
7005.0
4591.0
4030.0
13377.0
5073.0
5510.0
6016.0
4804.0
4174.0
3100.0
9345.0
8582.0
8844.0
12327.0
4107.0
5963.0
5201.0
7832.0
13727.0
11269.0
5645.0
7731.0
14388.0
6653.0
13377.0
13135.0
13381.0
17024.0
7485.0
5613.0
3943.0
8586.0
4326.0
9345.0
3419.0
4591.0
4804.0
11087.0
8452.0
14486.0
13376.0
6205.0
15147.0
3971.0
14237.0
4174.0
10262.0
8040.0
2228.0
9564.0
4991.0
3210.0
7591.0
13899.0
1965.0
8073.0
2175.0
7308.0
6482.0
10844.0
2017.0
3873.0
14714.0
8925.0
7064.0
13587.0
4423.0
6451.0
13377.0
4990.0
4563.0
2754.0
6643.0
4077.0
4030.0
6327.0
14815.0
10236.0
2759.0
12898.0
9258.0
15129.0
4465.0
3175.0
13817.0
6911.0
4823.0
12121.0
6573.0
15554.0
3597.0
6218.0
7229.0
6535.0
3919.0
6152.0
13941.0
19225.0
6093.0
3841.0
4148.0
10368.0
10262.0
5117.0
10262.0
12692.0
5963.0
15812.0
13401.0
13941.0
4107.0
14781.0
5176.0
6482.0
8098.0
13376.0
5176.0
9502.0
11142.0
11467.0
15353.0
6460.0
8040.0
15136.0
6121.0
9870.0
4049.0
6104.0
13817.0
6101.0
4332.0
14714.0
9416.0
7154.0
10844.0
12471.0
11707.0
12284.0
7695.0
9042.0
5192.0
5644.0
8610.0
14151.0
10808.0
23170.0
13941.0
8603.0
4563.0
13292.0
14388.0
13069.0
7485.0
3898.0
9899.0
4174.0
4174.0
5073.0
3332.0
15603.0
15809.0
8040.0
14714.0
10654.0
12819.0
4878.0
7064.0
7648.0
5403.0
4409.0
7229.0
9128.0
4668.0
15058.0
5224.0
7740.0
14714.0
11972.0
5000.0
3971.0
7690.0
13727.0
7165.0
13029.0
10197.0
12093.0
8834.0
4804.0
6094.0
11552.0
4174.0
7191.0
14571.0
12284.0
7229.0
12898.0
14571.0
4823.0
12373.0
10067.0
13377.0
3873.0
7480.0
13377.0
8040.0
8307.0
6442.0
8907.0
7832.0
4441.0
14151.0
4864.0
4332.0
11185.0
6795.0
7646.0
14231.0
5406.0
10262.0
5515.0
14676.0
6442.0
9314.0
4823.0
22270.0
3873.0
5224.0
7229.0
13067.0
3841.0
4049.0
9736.0
12192.0
31783.0
7933.0
10598.0
17501.0
15676.0
14714.0
7064.0
13502.0
3419.0
13994.0
5636.0
8578.0
4823.0
12347.0
5583.0
12778.0
5769.0
3100.0
3419.0
13377.0
4077.0
8147.0
12488.0
12373.0
4804.0
8728.0
3383.0
14848.0
13587.0
11467.0
14571.0
7189.0
15129.0
2754.0
13292.0
9663.0
3597.0
13912.0
12373.0
3540.0
10141.0
4226.0
8586.0
4823.0
2227.0
10975.0
9564.0
6961.0
4668.0
6442.0
4804.0
4775.0
5883.0
11806.0
13029.0
3100.0
5678.0
3850.0
13817.0
5636.0
13374.0
4804.0
15136.0
3858.0
8055.0
4804.0
3841.0
7276.0
12192.0
4423.0
5192.0
2227.0
3210.0
9646.0
10262.0
2227.0
3514.0
5769.0
12723.0
15107.0
14388.0
6800.0
13817.0
7229.0
4823.0
16172.0
6037.0
6297.0
13727.0
10844.0
13587.0
12592.0
12898.0
8588.0
5678.0
4812.0
15147.0
4030.0
2017.0
6982.0
8372.0
8907.0
8586.0
10844.0
5054.0
5201.0
5678.0
6795.0
3841.0
10844.0
2071.0
3573.0
13587.0
10844.0
10262.0
11201.0
3815.0
13029.0
4823.0
3543.0
13486.0
7354.0
6987.0
4319.0
9413.0
4282.0
5747.0
7229.0
11982.0
10577.0
9345.0
11934.0
6795.0
4409.0
8610.0
9922.0
2227.0
4622.0
4804.0
12182.0
10783.0
13748.0
5678.0
5796.0
15554.0
2017.0
14960.0
10844.0
14848.0
13817.0
4823.0
10493.0
8781.0
14871.0
11410.0
6327.0
13941.0
14300.0
5232.0
4482.0
4804.0
5797.0
7757.0
4775.0
11087.0
5769.0
8372.0
13044.0
13029.0
8085.0
10678.0
12284.0
8147.0
15129.0
12383.0
5277.0
6794.0
6674.0
10262.0
11087.0
12409.0
4423.0
10844.0
14151.0
4667.0
12373.0
13591.0
14781.0
4409.0
8040.0
13029.0
12242.0
16863.0
6136.0
4487.0
4804.0
12692.0
8586.0
4082.0
13029.0
8888.0
13067.0
14871.0
14714.0
7005.0
12692.0
11087.0
7189.0
8476.0
7229.0
2754.0
10844.0
7888.0
18275.0
5073.0
8452.0
3971.0
2753.0
13014.0
4823.0
7452.0
4030.0
11982.0
14781.0
10529.0
7408.0
3841.0
8016.0
9748.0
7934.0
6916.0
6482.0
4077.0
27430.0
8452.0
6206.0
5797.0
7485.0
3597.0
4384.0
16108.0
3873.0
13376.0
6842.0
13941.0
10703.0
2437.0
7980.0
5554.0
5403.0
7074.0
11728.0
7110.0
4174.0
3100.0
2050.0
6093.0
15812.0
15058.0
13790.0
5201.0
5755.0
14015.0
13029.0
14571.0
6144.0
4668.0
10703.0
13067.0
14848.0
8227.0
10262.0
13044.0
14815.0
12373.0
12677.0
12312.0
11087.0
4377.0
4423.0
2017.0
9345.0
14388.0
12373.0
4174.0
5224.0
8601.0
9483.0
12373.0
13014.0
4649.0
12961.0
54826.0
8216.0
3597.0
4823.0
14323.0
14178.0
12395.0
12192.0
4544.0
11134.0
12681.0
3898.0
6093.0
16079.0
3419.0
6270.0
2754.0
4668.0
10919.0
10529.0
14237.0
5162.0
4668.0
10368.0
8586.0
7198.0
13044.0
4957.0
7832.0
15284.0
3100.0
6162.0
4784.0
4483.0
7725.0
14571.0
4096.0
5678.0
7480.0
4804.0
12373.0
15029.0
3943.0
17261.0
1965.0
14388.0
12373.0
3943.0
12692.0
7064.0
8366.0
6297.0
7952.0
6300.0
10877.0
6493.0
4049.0
15029.0
3873.0
14714.0
14781.0
5515.0
13014.0
7171.0
6251.0
6781.0
9314.0
6810.0
8085.0
4878.0
5636.0
4804.0
4823.0
12308.0
5228.0
11642.0
12384.0
10844.0
46490.0
10696.0
3943.0
16263.0
5769.0
8425.0
7006.0
13941.0
13044.0
34503.0
4823.0
8085.0
12646.0
12192.0
2575.0
7280.0
8529.0
6612.0
5201.0
10262.0
10441.0
6412.0
15544.0
9555.0
10703.0
4668.0
7064.0
10262.0
6741.0
12373.0
7480.0
9314.0
13591.0
15318.0
5586.0
8040.0
3873.0
12351.0
10368.0
9646.0
3838.0
5694.0
4239.0
4667.0
4804.0
14151.0
11161.0
12692.0
10262.0
8114.0
5607.0
5069.0
12898.0
26890.0
16289.0
16289.0
12898.0
11228.0
10844.0
4860.0
3175.0
10278.0
23533.0
6959.0
11148.0
11105.0
8529.0
4823.0
3543.0
13882.0
10676.0
4332.0
14714.0
4995.0
10262.0
10844.0
3858.0
14781.0
6442.0
14960.0
8603.0
6755.0
11841.0
7927.0
21571.0
6741.0
5198.0
6673.0
13067.0
14388.0
8837.0
5775.0
13082.0
5170.0
5678.0
4148.0
6171.0
13801.0
15812.0
18804.0
3943.0
4990.0
5755.0
8372.0
14571.0
7335.0
15129.0
8627.0
15237.0
9564.0
6069.0
6587.0
5277.0
4807.0
4268.0
14306.0
6216.0
3514.0
12324.0
10676.0
12524.0
10262.0
6216.0
10231.0
12898.0
10262.0
9555.0
3841.0
14687.0
6961.0
6121.0
10844.0
15129.0
9845.0
11421.0
4284.0
14143.0
4804.0
7754.0
11307.0
15129.0
5769.0
7229.0
8580.0
10577.0
10368.0
4804.0
6805.0
17049.0
13817.0
14714.0
3943.0
8991.0
4544.0
10262.0
9001.0
4804.0
4049.0
8085.0
10056.0
7832.0
17271.0
11185.0
10231.0
6494.0
7303.0
10844.0
6093.0
10976.0
6094.0
5613.0
12646.0
3419.0
2017.0
7575.0
14960.0
14924.0
14388.0
12725.0
13817.0
10972.0
14388.0
8246.0
18308.0
10413.0
3597.0
7229.0
6992.0
14714.0
11087.0
7354.0
11134.0
14086.0
6117.0
10529.0
11598.0
13941.0
4823.0
10741.0
5678.0
3597.0
6860.0
26743.0
11087.0
6152.0
9535.0
6582.0
9678.0
13310.0
17261.0
4544.0
9653.0
6128.0
13377.0
6171.0
13014.0
9315.0
4326.0
3873.0
15129.0
11150.0
8855.0
10676.0
4049.0
14714.0
3873.0
12692.0
8855.0
10562.0
8586.0
11432.0
6442.0
12898.0
22270.0
7001.0
12192.0
15147.0
10262.0
7303.0
5406.0
3841.0
10413.0
9548.0
16914.0
12475.0
11098.0
6565.0
9627.0
4823.0
17057.0
3850.0
10877.0
20904.0
14815.0
6113.0
11682.0
10844.0
7229.0
3100.0
4667.0
4409.0
14151.0
5406.0
10203.0
17024.0
7229.0
4823.0
10566.0
7229.0
3850.0
5162.0
5830.0
7485.0
10844.0
15107.0
3873.0
5769.0
3383.0
12488.0
10844.0
2227.0
5073.0
14151.0
7648.0
13029.0
13044.0
8033.0
5963.0
4319.0
13759.0
7198.0
9663.0
4823.0
11664.0
13817.0
6117.0
7005.0
3210.0
12192.0
14151.0
6121.0
13067.0
5198.0
7503.0
8073.0
12723.0
5998.0
10262.0
5403.0
3841.0
3943.0
10929.0
8367.0
6628.0
15135.0
12646.0
10873.0
3873.0
5510.0
5403.0
8475.0
3850.0
14053.0
7741.0
7050.0
13014.0
1965.0
14053.0
7723.0
2754.0
10262.0
13486.0
10262.0
10151.0
7229.0
4777.0
3543.0
14781.0
7398.0
10031.0
15554.0
7451.0
8266.0
14714.0
13591.0
8728.0
12819.0
2050.0
10696.0
11297.0
14781.0
6934.0
10844.0
15544.0
9663.0
7229.0
17261.0
6674.0
15318.0
5755.0
13584.0
8844.0
11543.0
3419.0
6218.0
3850.0
14053.0
16079.0
4174.0
7591.0
4804.0
6582.0
12373.0
14330.0
5853.0
10539.0
8635.0
2227.0
6901.0
6017.0
7801.0
9595.0
11702.0
4307.0
17019.0
10624.0
5298.0
4804.0
15704.0
9663.0
7215.0
4544.0
5277.0
9663.0
8367.0
3419.0
12373.0
10262.0
10262.0
12373.0
13843.0
5647.0
14594.0
3419.0
4823.0
8529.0
7295.0
3597.0
6961.0
9001.0
6961.0
9663.0
10844.0
14848.0
6386.0
6151.0
7464.0
5228.0
14571.0
3876.0
15078.0
4885.0
14571.0
3815.0
14781.0
15147.0
10759.0
9417.0
4622.0
16289.0
12898.0
13376.0
7090.0
4823.0
6860.0
9328.0
4282.0
14588.0
10262.0
15149.0
22270.0
4729.0
5320.0
3543.0
4995.0
4435.0
27992.0
4544.0
6093.0
25735.0
7198.0
6216.0
4777.0
4804.0
8899.0
4049.0
6442.0
6151.0
3841.0
4823.0
2753.0
12032.0
3597.0
8016.0
10262.0
5755.0
8366.0
10368.0
2754.0
7229.0
7171.0
16263.0
13067.0
13941.0
11543.0
54826.0
15190.0
10975.0
3597.0
19225.0
3100.0
7060.0
12395.0
8361.0
4226.0
9296.0
1965.0
8067.0
8085.0
9194.0
5228.0
16079.0
9627.0
13576.0
7615.0
10262.0
5678.0
9134.0
14714.0
6985.0
4148.0
7480.0
6810.0
7229.0
9314.0
14714.0
5883.0
7832.0
13727.0
11542.0
10351.0
4174.0
5170.0
6565.0
12009.0
6381.0
6197.0
10909.0
10262.0
11269.0
14714.0
3419.0
7094.0
11848.0
6092.0
6128.0
6297.0
12497.0
6494.0
7832.0
7888.0
15411.0
10348.0
11410.0
6017.0
11087.0
14571.0
7677.0
3943.0
12739.0
3603.0
9663.0
19332.0
3898.0
6496.0
6565.0
3480.0
3873.0
3398.0
11087.0
4050.0
20845.0
3573.0
4409.0
6565.0
13033.0
8586.0
6628.0
4823.0
13292.0
4862.0
6838.0
4491.0
6985.0
10262.0
4804.0
10919.0
8040.0
15129.0
6937.0
2227.0
12347.0
4804.0
5930.0
8586.0
9412.0
8839.0
5224.0
2227.0
3841.0
13292.0
4483.0
13538.0
3597.0
12074.0
14676.0
6575.0
15284.0
18371.0
10262.0
10262.0
9476.0
8891.0
17261.0
4775.0
7318.0
4326.0
9548.0
13014.0
8016.0
4804.0
14533.0
6628.0
7005.0
6093.0
15339.0
5224.0
10151.0
8372.0
7927.0
10262.0
7438.0
10844.0
6741.0
10979.0
16697.0
4990.0
14151.0
15554.0
3100.0
6427.0
16775.0
14781.0
8728.0
3574.0
10037.0
6121.0
1965.0
11516.0
4804.0
13376.0
8366.0
13014.0
10844.0
10509.0
4462.0
11732.0
10394.0
4409.0
8610.0
4259.0
16079.0
11281.0
9397.0
5228.0
11134.0
10844.0
3100.0
14714.0
6838.0
7005.0
10262.0
4692.0
3943.0
6121.0
2050.0
5678.0
4804.0
14151.0
3332.0
6093.0
14431.0
7754.0
12681.0
4878.0
7120.0
4804.0
2017.0
7832.0
14178.0
4384.0
17471.0
4423.0
8586.0
14388.0
7064.0
7480.0
8016.0
8273.0
6146.0
5678.0
13727.0
10112.0
2437.0
5734.0
4649.0
17493.0
11627.0
2575.0
10844.0
9646.0
12996.0
4823.0
20064.0
6558.0
4174.0
15078.0
6093.0
15554.0
13727.0
6482.0
13067.0
11087.0
5054.0
5583.0
14067.0
8016.0
12121.0
10844.0
9345.0
3943.0
2437.0
7690.0
12373.0
3898.0
10966.0
10697.0
10262.0
14571.0
4049.0
8405.0
14667.0
9555.0
11841.0
3807.0
9345.0
15129.0
8372.0
7255.0
4545.0
15129.0
11507.0
14781.0
8586.0
7531.0
6540.0
7608.0
7378.0
15129.0
12898.0
8784.0
6717.0
11087.0
12940.0
7038.0
12599.0
6349.0
8005.0
14781.0
8018.0
14817.0
5678.0
11507.0
5117.0
6094.0
11134.0
9646.0
2227.0
9564.0
9663.0
25735.0
11753.0
14871.0
6104.0
5510.0
7229.0
11789.0
14781.0
5694.0
13014.0
7670.0
12681.0
10368.0
5198.0
3311.0
3540.0
8586.0
7048.0
11087.0
12121.0
11134.0
7740.0
14483.0
16289.0
12898.0
7740.0
14848.0
6144.0
7354.0
12898.0
13611.0
9526.0
1965.0
10844.0
21934.0
13797.0
4226.0
7740.0
4437.0
14641.0
5678.0

In [60]:
X

,Airline,JR_Day,JR_Month,JR_Year,Source,Destination,Dep_Hours,Dep_Mins,Arrival_Hours,Arrival_Min,Duration in Minutes,Total_Stops,Additional_Info
0,3,24,3,2019,0,5,22,20,1,10,170,0,8
1,1,1,5,2019,3,0,5,50,13,15,445,2,8
2,4,9,6,2019,2,1,9,25,4,25,19,2,8
3,3,12,5,2019,3,0,18,5,23,30,325,1,8
4,3,1,3,2019,0,5,16,50,21,35,285,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,9,4,2019,3,0,19,55,22,25,150,0,8
10679,1,27,4,2019,3,0,20,45,23,20,155,0,8
10680,4,27,4,2019,0,2,8,20,11,20,3,0,8
10681,10,1,3,2019,0,5,11,30,14,10,160,0,8
10682,1,9,5,2019,2,1,10,55,19,15,500,2,8

In [61]:
x1 = X.iloc[:531,:]
x2 = X.iloc[531:,:]

In [62]:
y1 = Y.iloc[:531]
y2 = Y.iloc[531:]

#### Training Part 1

In [120]:
rr = RandomForestRegressor()
xtr,xt,ytr,yt = train_test_split(x1,y1,test_size=0.3,random_state=19)

In [121]:
rr.fit(xtr,ytr)

RandomForestRegressor()

In [122]:
ypr1 = rr.predict(xt)

In [123]:
for i in ypr1:
    print(i)

9724.91
6802.61
9996.42
4978.7
11344.14
10702.94
4067.35
12228.06
14448.19
8068.58
5907.18
3885.29
10485.76
9633.35
11516.45
4344.27
3978.5
5812.05
7201.1
6829.32
11631.55
4869.69
10784.4
6938.86
6010.87
10334.75
4169.23
5990.13
10587.46
5399.3
10204.14
11172.27
14126.66
9343.58
3979.33
3968.44
4085.51
12069.86
4604.37
7388.58
12614.54
10181.34
14267.61
12141.58
12084.35
7248.29
13864.36
4427.04
5380.84
9405.32
15030.43
3418.52
4246.13
6361.96
11524.36
12131.4
15746.62
3634.32
4549.75
4730.66
14913.3
11028.14
13057.24
9885.17
10484.34
6682.98
5335.26
4360.28
6729.0
4441.13
11770.11
6996.2
4712.33
13253.82
4853.63
11972.09
10625.57
10912.88
7860.71
7263.92
6991.31
5507.54
6544.23
11887.89
10100.38
7651.48
6619.96
14462.5
15172.8
4309.29
10417.95
4933.34
4209.43
6696.58
7519.26
9071.0
12135.63
15061.14
6764.59
6329.16
10721.67
10297.66
11476.91
4401.29
5925.96
11943.85
10356.85
8845.58
12596.14
9968.03
6201.09
8491.01
11846.32
4782.96
13423.88
11408.67
21654.03
7264.31
9564.93
8056.51
12276.4
11139.07
5680.82
11001.37
9583.97
12788.71
5165.67
10294.59
7556.77
7878.99
10370.29
8712.15
10897.67
11693.08
9884.81
4348.48
7852.58
8047.43
9731.49
3616.92
10351.06
5964.97
10938.77
11503.81
7029.98
12668.25
4329.26
6583.04
13946.58
10897.28
4721.04
4892.93
13713.14
13760.03
4308.5
5167.0
9580.62
10529.55
5455.62
12500.95

In [124]:
for i in yt.values:
    print(i)

7757.0
6722.0
12898.0
5228.0
10262.0
11596.0
3332.0
13587.0
13774.0
5177.0
6482.0
3257.0
6224.0
12639.0
13727.0
8040.0
3100.0
4812.0
10741.0
7240.0
10441.0
4667.0
9486.0
6534.0
6297.0
8907.0
4777.0
7229.0
9646.0
4823.0
10844.0
10877.0
13014.0
9555.0
3687.0
3687.0
5678.0
9134.0
3873.0
5192.0
13014.0
10844.0
12395.0
10939.0
13292.0
5162.0
15339.0
3971.0
3943.0
9345.0
16079.0
5678.0
3943.0
6216.0
10697.0
12898.0
19225.0
3543.0
6245.0
3898.0
17024.0
10262.0
18804.0
6842.0
10844.0
8001.0
5000.0
3597.0
6412.0
5216.0
12898.0
7682.0
4804.0
13082.0
3971.0
14277.0
8238.0
10262.0
5073.0
5117.0
5775.0
3971.0
5894.0
13882.0
9663.0
6528.0
8855.0
17024.0
15147.0
3943.0
6349.0
5403.0
4911.0
5636.0
4437.0
7198.0
9483.0
8738.0
8855.0
5894.0
10262.0
10262.0
11507.0
4030.0
8246.0
9627.0
9001.0
6540.0
13376.0
12898.0
8016.0
8714.0
9315.0
4129.0
11150.0
11087.0
22270.0
4957.0
8366.0
5583.0
10197.0
8372.0
4878.0
10262.0
4487.0
11432.0
3543.0
12524.0
5704.0
5013.0
6601.0
6818.0
14067.0
13727.0
7832.0
3100.0
10191.0
4649.0
10703.0
1965.0
10539.0
4823.0
10262.0
10493.0
11793.0
15965.0
3858.0
6442.0
15129.0
12898.0
4804.0
4148.0
16079.0
14714.0
2575.0
4591.0
6513.0
14323.0
5201.0
14714.0

In [125]:
print(r2_score(ypr1,yt))
print(mean_squared_error(ypr1,yt))

0.686641184362185
3687008.9128875